{% extends "master.html" %}

{% block subtitle %} - 条码管理{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function allselect(obj){
		var t = $(obj);
		if(t.attr('checked')){
			$("input[type='checkbox'][name='ids']").attr('checked','checked');
		}else{
		    $("input[type='checkbox'][name='ids']").removeAttr('checked');
		}
	}
	
	function toprint(){
		if($("input[type='checkbox'][name='ids']:checked").length < 1){
			alert('请选择至少一条记录以进行操作！');
			return false;
		}
		$("#records_form").submit();
	}
//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
        <li><a href="{{url_for('.view', action = action,m = 'NEW')}}"><img src="/static/images/system/order_manage_31.jpg" width="77" height="21" id="Image2" onmouseover="MM_swapImage('Image2','','/static/images/system/order_manage_h_31.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></li>
        {% if 'CREATE_MASTER' is get_permission%}
        <li><img src="/static/images/system/order_manage_11_35.jpg" width="77" height="21" id="Image5" onmouseover="MM_swapImage('Image5','','/static/images/system/order_manage_1_35.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toprint()"/></li>
    	{% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td class="title_fonts_display">&middot; 条码管理</td></tr>
</table>
<div class="search_div">
	<div class="search_div_header">条码搜索</div>
    <div class="search_div_body">
    	<form action="{{url_for('.view',action='barcode',m='LIST')}}" method="post" id="search_form">

    	<ul>
    	   <li style="width:100%; border-right:#E2FEFE 1px solid;"><span>创建日期</span>
        	  <input type="text" class="datepicker" name="create_time_from" value="{{values.get('create_time_from','')|f}}"/>&nbsp;&nbsp;-&nbsp;&nbsp;<input type="text" class="datepicker" name="create_time_to" value="{{values.get('create_time_to','')|f}}"/>
          </li>
          <li><span>条码号码</span><input type="text" name="value" value="{{values.get('value','')|f}}"/></li>
          <li><span>相关订单号</span><input type="text" name="ref_no" value="{{values.get('ref_no','')|f}}"/></li>
          <li><span>状态</span>
          	<select name="status" id="status">
                  <option value=""></option>
                  {% for v,n in [('0','已用'),('1','预留'),('2','作废')] %}
                      {% if v == values.get('status',None) %}
                          <option value="{{v}}" selected="selected">{{n}}</option>
                      {% else %}
                          <option value="{{v}}">{{n}}</option>
                      {% endif %}
                  {% endfor %}
              </select>
          </li>
        </ul>
        
        <div class="button_div"><input type="submit" value="{{_('Search')}}"/></div>
        <input type="hidden" name="SEARCH_SUBMIT" value="TRUE"/>
        <input type="hidden" name="field" id="field" value=""/>
        <input type="hidden" name="direction" id="direction" value=""/>
    	</form>
        <div style="clear:both"></div>
    </div>
</div>

<div class="point_div"><img src="/static/images/system/order_manage_54.jpg" width="22" height="28" /><span>{{_('Input the conditions and search.')}}</span></div>




<form action="{{url_for('.view', action = 'barcode',m='PRINT')}}" method="post" id="records_form">
  <table border="0" cellspacing="0" cellpadding="0" style="width:1000px;">
    <tr class="field_head">
      <td align="center" style="width:50px;"><input type="checkbox" onclick="allselect(this);"/></td>
      <td align="center" style="width:200px;">号码</td>
      <td align="center" style="width:200px;">订单号码</td>
      <td align="center" style="width:100px;">状态</td>
      <td align="center" style="width:250px;">{{_('Create Time')}}</td>
      <td align="center" style="width:200px;">{{_('Creator')}}</td>
    </tr>
	{% for r in records %}
		<tr class="data_table_tr {{ loop.cycle('data_table_tr_odd', 'data_table_tr_even') }}">
			<td><input type="checkbox" name="ids" value="{{r.id}}"/></td>
			<td>{{r.value}}</td>
			<td>&nbsp;
				{% if r.ref_no %}
					<a href="{{url_for('bpOrder.view',action='revise_by_barcode',no=r.value)}}">{{r.ref_no}}</a>
				{% endif %}
			</td>
			<td>{%- if r.status == 0%}
					已用
				{% elif r.status == 1%}
					预留
				{% else %}
					作废
				{% endif -%}
			</td>
			<td>{{r.create_time|ft}}</td>
			<td>{{r.create_by|f}}</td>
		</tr>
	{% endfor %}
		<tr class="data_table_tr">
		    <td colspan="100" style="text-align:right">{{mymacros.mypaginate(records)}}</td>
		</tr>
  </table>
  </form>
  
  <br /><br />
{% endblock %}