{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<form action="{{url_for('.view', action = 'group',m='SAVE_NEW')}}" method="post">
		<table>
			<tr>
				<td>{{_('Customer Name')}}</td>
				<td><input type="text" name="name" value="{{obj.name|ifFalse}}"/></td>
			</tr>
			<tr>
				<td>{{_('Address')}}</td>
				<td>
					<select name="province_id" id="province_id">
						<option>{{_('Please Select One')}}</option>
						{% for p in provinces %}
							<option value="{{p.id}}">{{p}}</option>
						{% endfor %}
					</select>
					<select name="city_id" id="city_id"></select>
					<select name="district_id" id="district_id"></select>
					<input type="text" name="address" id="address" value="{{obj.address}}"/>
				</td>
			</tr>
			<tr>
				<td>{{_('Phone')}}</td>
				<td><input type="text" name="phone" id="phone" value="{{obj.phone|ifFalse}}"/></td>
			</tr>
			<tr>
				<td>{{_('Contact Person')}}</td>
				<td><input type="text" name="contact_person" id="contact_person" value="{{obj.contact_person|ifFalse}}"/></td>
			</tr>
			<tr>
				<td>{{_('Remark')}}</td>
				<td><textarea id="remark" name="remark">{{obj.remark|ifFalse}}</textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="{{_('Submit')}}"/>&nbsp;&nbsp;&nbsp;<input type="button" value="{{_('Cancel')}}" onclick="redirect('{{url_for('.view', action = 'customer')}}')"/></td>
			</tr>
		</table>
	</form>
	
{% endblock %}