{% extends "master.html" %}

{% block extJS %}

{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
        <li><a href="{{url_for('.view',action='customer',m='NEW')}}"><img src="/static/images/system/order_manage_31.jpg" width="77" height="21" id="Image2" onmouseover="MM_swapImage('Image2','','/static/images/system/order_manage_h_31.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></li>
        
    </ul>
</div>
{% endblock %}


{% block content %}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="left">
        
        	<table width="99%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
          <tr>
            <td width="13">&nbsp;</td>
            <td></td>
            <td width="13">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="title_fonts_display">客户管理</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
              <table width="99%" border="0" cellspacing="0" cellpadding="0">
                <tr class="field_head">
                  <th align="center">{{_('Customer Name')}}</th>
                  <th align="center">{{_('Address')}}</th>
                  <th align="center">{{_('Contact Person')}}</th>
                  <th align="center">{{_('Phone')}}</th>
                  <th align="center">{{_('Mobile')}}</th>
                  <th align="center">{{_('Payment')}}</th>
                </tr>
				{% for r in records %}
					<tr class="data_table_tr">
						<td><a href="{{url_for('.view', action = 'customer',m = 'UPDATE',id=r.id)}}">{{r}}</a></td>
						<td>{{r.address}}</td>
						<td>{{r.contact_person|ifFalse}}</td>
						<td>{{r.phone|ifFalse}}</td>
						<td>{{r.mobile|ifFalse}}</td>
						<td>{{r.payment|f}}</td>
					</tr>
				{% endfor %}
				<tr class="data_table_tr">
				    <td colspan="100" style="text-align:right">{{mymacros.mypaginate(records)}}</td>
				</tr>
              </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
{% endblock %}