{% extends "master.html" %}

{% block subtitle %} - 客户地区费率管理{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[

//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
        {% if 'CREATE_MASTER' is get_permission%}
        <li><a href="{{url_for('.view',action='customer',m='DIQUREATIO_CREATE',id=obj.id)}}"><img src="/static/images/system/order_manage_31.jpg" width="77" height="21" id="Image2" onmouseover="MM_swapImage('Image2','','/static/images/system/order_manage_h_31.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></li>
    	{% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td class="title_fonts_display">&middot; 客户地区费率管理</td></tr>
	<tr><td class="title_fonts_display">&middot; {{obj.name}}</td></tr>
</table>


<br />
<table border="0" cellspacing="0" cellpadding="0" style="width:1000px;">
<tr class="field_head">
  <td align="center" style="width:200px;">省/直辖市</td>
  <td align="center" style="width:150px;">市/区/县</td>
  <td align="center" style="width:100px;">数量费率(件)</td>
  <td align="center" style="width:100px;">重量费率(吨)</td>
  <td align="center" style="width:100px;">体积费率(立方)</td>
  <td align="center" style="width:150px;">{{_('Create Time')}}</td>
  <td align="center" style="width:100px;">{{_('Creator')}}</td>
  <td align="center" style="width:100px;">操作</td>
</tr>
{% for r in records %}
	<tr class="data_table_tr {{ loop.cycle('data_table_tr_odd', 'data_table_tr_even') }}">
		<td>{{r.province}}</td>
		<td>{{r.city|f}}</td>
		<td>{{r.qty_ratio}}</td>
		<td>{{r.weight_ratio}}</td>
		<td>{{r.vol_ratio}}</td>
		<td>{{r.create_time|ft}}</td>
		<td>{{r.create_by|f}}</td>
		<td><a href="{{url_for('.view',action='customer',m='DIQUREATIO_UPDATE',id=r.id)}}">编辑</a>&nbsp;|&nbsp;<a href="<a href="{{url_for('.view',action='customer',m='DIQUREATIO_DELETE',id=r.id)}}">删除</a></td>
	</tr>
{% endfor %}
	<tr class="data_table_tr">
	    <td colspan="100" style="text-align:right">{{mymacros.mypaginate(records)}}</td>
	</tr>
</table>

  
  <br /><br />
{% endblock %}