{% extends "master.html" %}

{% block extJS %}
<script src="{{url_for('static', filename='js/customer/customer_add.js')}}" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var msg = new Array();
		if(!$('#name').val()){
			msg.push('请填写客户名称！');
		}
		if(!$("#address").val()){
			msg.push('请填写地址！');
		}
		if(!$("#contact_person").val()){
			msg.push('请填写联系人！');
		}
		if(!$("#payment_id").val()){
			msg.push('请填写付款方式！');
		}
		if($("#targets_list tr").length<1){
			msg.push('请添加最少一个收货公司！');
		}
		var mobile = $("#mobile").val();
		if(mobile && !check_mobile(mobile)){
			msg.push("请正确填写手机号码！");
		}
		
		
		if(msg.length<1){
			$("#targets_json").val(JSON.stringify(targets_array));
			$("form").submit();
		}else{
			alert(msg.join("\n"));
		}
	
	}
	
	
	var targets_array = new Array();
	
    $(document).ready(function(){
    	var targets_array = new Array();
    
    	$( "#dialog-form" ).dialog({
    		modal: true,
    		height: 500,
    		width:800,
    		autoOpen: false
    	});
    	
    	$("#province_id").change(function(){
	        province_change(this,'#city_id');
	    });
    	
    	$("#tmp_province_id").change(function(){
	        province_change(this,'#tmp_city_id');
	    });
    });
//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><a href="{{url_for('.view', action = 'customer')}}"><img width="71" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" id="Image1" src="/static/images/system/order_manage_25.jpg"/></a></li>
        {% if 'CREATE_CUSTOMER' is get_permission%}
        <li><img width="77" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','images/order_manage_h_33.jpg',1)" id="Image3" src="/static/images/system/order_manage_33.jpg" onclick="return tosave()"/></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
    <td class="title_fonts_display">· 客户管理</td>
</tr>
</tbody>
</table>



<form action="{{url_for('.view', action = 'customer',m='SAVE_NEW')}}" method="post">
	<input type="hidden" id="targets_json" name="targets_json" value=""/>
	
<div class="order_add_div">
  <div class="order_add_div_header">新建客户</div>

    <div class="order_add_div_body">
  <ul>
        	<li style="width:450px;"><span><sup class="warn">*</sup>{{_('Customer Name')}}</span>
        	  <input type="text" class="must_input" style="width:300px" name="name" id="name"/>
        	</li>
       	  <li style="width:180px;"><span>客户编号</span>
    	    <input type="text" style="width:100px" name="no"/>
  	    </li>
    	  <li style="width:859px;"><span>{{_('Address')}}</span>
    	  	{{mymacros.select(id='province_id',list=MASTER_ALL('Province'),value=None,class="must_input",style="width:150px")}}
    	  	<select name="city_id" id="city_id" style="width:150px"></select>
    	    <input type="text" style="width:460px" name="address" id="address" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Contact Person')}}</span>
    	    <input type="text" style="width:360px" name="contact_person" id="contact_person" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Mobile')}}</span>
    	    <input type="text" style="width:360px" name="mobile" id="mobile" class="numeric"/>
    	  </li>
    	  <li style="width:227px;"><span>{{_('Phone')}}</span>
    	    <input type="text" style="width:140px" name="phone"/>
  	    </li>
    	  <li style="width:260px;"><span>公司邮箱</span>
    	    <input type="text" style="width:170px" name="email"/>
  	    </li>
    	  <li style="width:220px;">付款方式
    	  	<select name="payment_id" class="must_input" id="payment_id">
    	  		<option value=""></option>
    	  		{% for p in MASTER_ALL('Payment') %}
    	  			<option value="{{p.id}}">{{p}}</option>
    	  		{% endfor %}
    	  	</select>
  	    </li>
    	  <li style="width:925px;"><span>{{_('Remark')}}</span>
    	    <textarea class="order_add_div_body_input" style="width:840px; height:100px" name="remark"></textarea>
        </li>
      </ul>
  <div style="clear:both"></div>
  
  </div>
	
	
	<div class="order_add_div_header">收货公司列表</div>
	<div class="order_add_div_body" style="padding:10px;">
	
	<p><input type="button" value="添加收货公司" onclick="add_target()"/></p>
	<br />
	<table border="0" cellpadding="0" cellspacing="0">
		<thead>
		<tr class="field_head">
          <th align="center" style="width:600px;">收货公司</th>
          <th align="center">操作</th>
        </tr>
        </thead>
        <tbody id="targets_list">
        
        </tbody>
	</table>
	</div>

</div>
</form>
<br /><br />



<!-- customer target form begin -->

<div id="dialog-form" title="添加新收货公司" style="background-color:white;">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top" width="100px" align="center" height="30px">收货公司名称</td>
			<td valign="top"><input type="text" id="target_name" class="order_add_div_body_input must_input" style="width:550px;"/></td>
		</tr>
		<tr>
			<td valign="top" width="100px" align="center" height="30px">所在省/直辖市</td>
			<td valign="top">
				{{mymacros.select(id='tmp_province_id',list=MASTER_ALL('Province'),value=None,class="must_input",style="width:150px")}}
				<select name="tmp_city_id" id="tmp_city_id" style="width:150px"></select>
			</td>
		</tr>
		<tr>
			<td valign="top" width="100px" align="center">{{_('Remark')}}</td>
			<td valign="top"><textarea class="" style="width:550px;height:30px;" id="target_remark"></textarea></td>
		</tr>
	</table>
	
	<br />
	<p>联系人列表：</p>
	<br />
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top" width="100px" align="center" height="30px"><sup class="warn">*</sup>{{_('Destination Contact')}}</td>
			<td valign="top"><input type="text" id="contact_name" value="" class="order_add_div_body_input must_input" style="width:150px;"/></td>
			<td valign="top" width="100px" align="center">具体地址</td>
			<td valign="top"><input type="text" id="contact_address" value="" class="order_add_div_body_input must_input" style="width:250px;"/></td>
			<td valign="top" width="100px" align="center">{{_('Phone')}}</td>
			<td valign="top"><input type="text" id="contact_phone" value="" class="order_add_div_body_input must_input numeric" style="width:150px;"/></td>
		</tr>
		<tr>
			<td valign="top" align="center">{{_('Mobile')}}</td>
			<td valign="top"><input type="text" id="contact_mobile" value="" class="order_add_div_body_input numeric" style="width:150px;"/></td>
		    <td valign="top" align="center">{{_('Remark')}}</td>
		    <td valign="top"><textarea id="contact_remark" style="width:250px;"></textarea></td>
		</tr>
	</table>
	<br />
	<p style="text-align:right;"><input type="button" value="添加到列表" onclick="add_contact()"/></p>
	<br />
	<table style="width:750px">
		<thead>
		  	<tr class="field_head">
		      <th align="center" style="width:100px">{{_('Destination Contact')}}</th>
		      <th align="center" style="width:200px">具体地址</th>
		      <th align="center" style="width:80px">{{_('Destination Phone')}}</th>
		      <th align="center" style="width:80px">{{_('Destination Mobile')}}</th>
		      <th align="center" style="width:100px">{{_('Remark')}}</th>
		      <th align="center" style="width:80px">操作</th>
		    </tr>
		</thead>
		<tbody id="contact_list">
		
		</tbody>
	</table>
	<br />
	<p style="text-align:right;"><input type="button" value="保存" onclick="save_target()"/>&nbsp;<input type="button" value="取消" onclick="cancel_target()"/></p>
</div>

<!-- customer target form end -->


{% endblock %}