{% extends "master.html" %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var msg = new Array();
		if(!$('#name').val()){
			msg.push('请填写客户名称！');
		}
		
		if(msg.length<1){
			$("form").submit();
		}else{
			alert(msg.join("\n"));
		}
	
	}

//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
	    <li><a href="{{url_for('.view', action = 'customer')}}"><img width="71" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" id="Image1" src="/static/images/system/order_manage_25.jpg"/></a></li>
        {% if 'UPDATE_CUSTOMER' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return tosave()"/></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

        

{% block content %}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
    <td class="title_fonts_display">· 客户管理</td>
</tr>
</tbody>
</table>



<form action="{{url_for('.view', action = 'customer',m='SAVE_UPDATE')}}" method="post">

<input type="hidden" name="id" value="{{v['id']}}"/>

<div class="order_add_div">
  <div class="order_add_div_header">客户详情</div>
    <div class="order_add_div_body">
  <ul>
        	<li style="width:450px;"><span><sup class="warn">*</sup>{{_('Customer Name')}}</span>
        	  <input type="text" class="must_input" style="width:300px" name="name" id="name" value="{{v['name']|f}}"/>
        	</li>
       	  <li style="width:180px;"><span>客户编号</span>
    	    <input type="text" style="width:100px" name="no" value="{{v['no']|f}}"/>
  	    </li>
    	  <li style="width:280px;"><span>创建日期</span>
    	    {{v['create_time']|ft}}
  	    </li>
    	  <li style="width:859px;"><span>{{_('Address')}}</span>
    	    <input type="text" style="width:760px" name="address" value="{{v['address']|f}}"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Contact Person')}}</span>
    	    <input type="text" style="width:360px" name="contact_person"  value="{{v['contact_person']|f}}"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Mobile')}}</span>
    	    <input type="text" style="width:360px" name="mobile" value="{{v['mobile']|f}}"/>
    	  </li>
    	  <li style="width:227px;"><span>{{_('Phone')}}</span>
    	    <input type="text" style="width:140px" name="phone" value="{{v['phone']|f}}"/>
  	    </li>
    	  <li style="width:260px;"><span>公司邮箱</span>
    	    <input type="text" style="width:170px" name="email" value="{{v['email']|f}}"/>
  	    </li>
    	  <li style="width:200px;"><span>创建人</span>
    	    {{v['create_by']|f}}
  	    </li>
    	  <li style="width:220px;">付款方式
    	  	<select name="payment_id">
    	  		<option value=""></option>
    	  		{% for p in MASTER_ALL('Payment') %}
    	  			{% if p.id == v['payment_id'] %}
    	  				<option value="{{p.id}}" selected="selected">{{p}}</option>
    	  			{% else %}
    	  				<option value="{{p.id}}">{{p}}</option>
    	  			{% endif %}
    	  		{% endfor %}
    	  	</select>
  	    </li>
    	  <li style="width:925px;"><span>{{_('Remark')}}</span>
    	    <textarea class="order_add_div_body_input" style="width:840px; height:100px" name="remark">{{v['remark']|f}}</textarea>
        </li>
      </ul>
  <div style="clear:both"></div>
  </div>
<br /></br />
</form>

{% endblock %}