{% extends "master.html" %}
{% block subtitle %} - 更新组{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		$('form').submit();
	}
	
	function todelete() {
    	if(confirm('{{_(MSG_CONFIRM_DELETE)}}')){
    		var url = "{{url_for('.view', action = 'group',m = 'DELETE',id=v['id'])|safe}}";
    		redirect(url);
    	}else{
    		return false;
    	}
	}
//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action='group')}}')"/></li>
        {% if 'UPDATE_GROUP' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
		{% endif %}
		{% if 'DELETE_GROUP' is get_permission%}  
        <li><input type="image" src="/static/images/system/order_manage_29.jpg" width="77" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_29.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return todelete()"/></li>
    	{% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
	<form action="{{url_for('.view', action = 'group',m='SAVE_UPDATE')}}" method="post">
		<input type="hidden" name="id" value="{{v['id']}}"/>
		<table>
			<tr>
				<td>{{_('Group Name')}}</td>
				<td>
					{% if v['type'] != 0 %}
						<input type="text" name="name" value="{{v['name']}}"/>
					{% else %}
						{{v['name']}} <input type="hidden" name="name" value="{{v['name']}}"/>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>{{_('Display Name')}}</td>
				<td><input type="text" name="display_name" value="{{v['display_name']}}"/></td>
			</tr>
			<tr>
				<td>{{_('Description')}}</td>
				<td><textarea name="desc">{{v['desc']}}</textarea></td>
			</tr>
			<tr>
				<td>{{_('User')}}</td>
				<td>
					<table>
						<tr>
							<td><input type="checkbox" class="allbox"/></td><td>{{_('User Name')}}</td>
						</tr>
						{% for u in all_users%}
							<tr>
								<td>
									{% if u.id in uids %}
										<input class="onebox" type="checkbox" name="uids" value="{{u.id}}" checked="checked"/>
									{% else %}
										<input class="onebox" type="checkbox" name="uids" value="{{u.id}}"/>
									{% endif %}
								</td>
								<td>{{u}}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<td>{{_('Permission')}}</td>
				<td>
					<table>
						<tr>
							<td><input type="checkbox" class="allbox"/></td><td>{{_('Permission Name')}}</td><td>{{_('Description')}}</td>
						</tr>
						{% for p in all_permissions%}
							<tr>
								<td>
									{% if p.id in pids %}
										<input class="onebox" type="checkbox" name="pids" value="{{p.id}}" checked="checked"/>
									{% else %}
										<input class="onebox" type="checkbox" name="pids" value="{{p.id}}"/>
									{% endif %}
								</td>
								<td>{{p}}</td>
								<td>{{p.desc|ifFalse}}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>
	</form>
	
{% endblock %}