{% extends "master.html" %}

{% block extJS %}

<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function append(id,l){
		var e = $(id);
		
		var html = '';
		
		for(var i=0;i<l.list.length;i++){
		   var tmp = l.list[i];
		   html += '<li class="level_two item_line"><a href="/order/revise?id='+tmp.id+'">'+tmp.ref_no+'</a></li>';
		}
		$(id+'_count').text(l.count);
		e.after(html);
	}
	
	
	function refreshToDoList(){
		$.getJSON('/order/ajax_todo_list',
				  {'t' : nowstr()},
				  function(r){
				      if(r.result != 0){ return; }
				      
				      $('.item_line').remove();
				      append('#orders_new',r.data.orders_new);
				      append('#order_receiver',r.data.order_receiver);
				      append('#order_inhouse',r.data.order_inhouse);
				      append('#order_sorted',r.data.order_sorted);
				  }
		);
	}

	setInterval(refreshToDoList,1000*60*5); //5min
	

	$(document).ready(function(){
		refreshToDoList();
	})
//]]>
</script>
{% endblock %}

{% block content %}
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td width="220" class="main_left_td" valign="top">
    <div class="todo_list_header">
    <img width="220" height="31" src="/static/images/system/main_page_03.jpg"></div>
      <div class="todo_list_div">
        <div>
        	<ul>
           	  <li class="level_one" id="orders_new">需要指派收件人(<span id="orders_new_count">0</span>)</li>               
            </ul>
        </div>
        <div>
			<ul>
            	<li class="level_one" id="order_receiver">等待入仓(<span id="order_receiver_count">0</span>)</li>
            </ul>
        </div>
        <div>
			<ul>
            	<li class="level_one" id="order_inhouse">等待分拣(<span id="order_inhouse_count">0</span>)</li>
            </ul>
        </div>
        <div>
			<ul>
            	<li class="level_one" id="order_sorted">等待出仓(<span id="order_sorted_count">0</span>)</li>
            </ul>
        </div>
    </div></td>
     
     
     
     <td valign="top" class="main_right_td">


      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='customer')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_cm.jpg"><span>客户管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='supplier')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_sm.jpg"><span>承运商管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='receiver')}}')">
      <div class="header_div"></div>
      <div class="body_div"><img width="80" height="80" src="/static/images/system/img_rm.jpg"><span>收件人管理</span>
        <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
      </div>
    </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='item')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_item.jpg"><span>货品管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='payment')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_payment.jpg"><span>付款方式管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='pickuptype')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_pickup.jpg"><span>提货方式管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='packtype')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_package.jpg"><span>包装方式管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='ratio',m='UPDATE')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_ratio.jpg"><span>费率管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='warehouse')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_warehouse.jpg"><span>仓库管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>     
      <div class="nav_tab" onclick="redirect('{{url_for('bpAdmin.view',action='note')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_warehouse.jpg"><span>票据管理</span>
          <p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
        </div>
      </div>
  </tr>
</tbody></table>

{% endblock %}