{% extends "master.html" %}
{% block subtitle %} - 更新票据{% endblock %}

{% block extCSS %}
<style type="text/css"> 
	.template{display:none};
</style>
{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var msg = new Array();
		if(!$("#code").val()){
			msg.push('请填写票本编号！');
		}
		if(!$("#province_id").val()){
			msg.push('请选择站点！');
		}
		if(!$("#name").val()){
			msg.push('请填写票据前缀！');
		}
		if(!$("#apply_person_id").val()){
			msg.push('请选择领票人！');
		}
		if(!$("#operator_id").val()){
			msg.push('请选择操作人！');
		}
		var begin_no = $("#begin_no").val();
		if(!begin_no){
			msg.push('请填写票据开始编号！');
		}else if(!check_number(begin_no)){
			msg.push('请正确填写票据开始编号，必须全部为数字！');
		}
		var end_no = $("#end_no").val();
		if(!end_no){
			msg.push('请填写票据结束编号！');
		}else if(!check_number(end_no)){
			msg.push('请正确填写票据结束编号，必须全部为数字！');
		}

		if(msg.length>0){
			alert(msg.join("\n"));
		}else{
			$('form').submit();
		}
	}
	
	function todelete() {
    	if(confirm('{{_(MSG_CONFIRM_DELETE)}}')){
    		var url = "{{url_for('.view', action = action,m = 'DELETE',id=v['id'])|safe}}";
    		redirect(url);
    	}else{
    		return false;
    	}
	}

	$(document).ready(function(){
		$("#province_id").change(function(){
	        province_change(this,'#city_id');
	    });
	});

//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action=action)}}')"/></li>
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return tosave()"/></li>
        <li><input type="image" src="/static/images/system/order_manage_29.jpg" width="77" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_29.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return todelete()"/></li>
        
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="order_add_div">
	<div class="order_add_div_header">票据详情</div>
	<div class="order_add_div_body">
	<form action="{{url_for('.view', action = action,m='SAVE_UPDATE')}}" method="post">
		<input type="hidden" name="id" value="{{v['id']}}"/>
		<table>
			<tr>
				<td>票本编号</td>
				<td><input type="text" name="code" id="code" value="{{v['code']}}" class="must_input"/></td>
			</tr>
			<tr>
				<td>票据前缀</td>
				<td><input type="text" id="name" name="name" value="{{v['name']|f}}" class="must_input"/></td>
			</tr>
			<tr>
				<td>站点</td>
				<td>
				    {% set province_id = v.get('province_id',None)|int  %}				
					{{mymacros.select(id='province_id',list=MASTER_ALL('Province'),value=province_id,class="must_input",style="width:150px")}}
					{% set city_id = v.get('city_id',None)|int  %}			
					{{mymacros.select(id='city_id',list=RELATED_CITY(city_id),value=city_id,class="",style="width:150px")}}
				</td>
			</tr>
			<tr>
				<td>开始编号</td>
				<td><input type="text" name="begin_no" id="begin_no" value="{{v['begin_no']}}" class="must_input numeric"/></td>
			</tr>
			<tr>
				<td>结束编号</td>
				<td><input type="text" name="end_no" id="end_no" value="{{v['end_no']}}" class="must_input numeric"/></td>
			</tr>
			<tr>
				<td>领票时间</td>
				<td><input type="text" name="apply_time" id="apply_time" class="datepicker" value="{{v['apply_time']}}"/></td>
			</tr>
			<tr>
				<td>领票人</td>
				<td>
				    {% set apply_person_id = v.get('apply_person_id',None)|int  %}				
					{{mymacros.select(id='apply_person_id',list=MASTER_ALL('User'),value=apply_person_id,class="must_input",style="width:150px")}}
				</td>
			</tr>
			<tr>
				<td>操作人</td>
				<td>
				    {% set operator_id = v.get('operator_id',None)|int  %}
					{{mymacros.select(id='operator_id',list=MASTER_ALL('User'),value=operator_id,class="must_input",style="width:150px")}}
				</td>
			</tr>
			<tr>
				<td>{{_('Remark')}}</td>
				<td><textarea name="remark">{{v['remark']|f}}</textarea></td>
			</tr>
		</table>
	</form>
	
	
	<div style="clear:both"></div>
  </div>
  
  <div class="order_add_div_header">历史记录</div>
  <div class="order_add_div_body">
  	<table>
		<thead>
			<tr class="field_head">
				<th align="center">{{_('Time')}}</th>
				<th align="center" style="width:800px">{{_('Remark')}}</th>
			</tr>
		<thead>
		<tbody id="transit_list">
			{% for t in obj.system_logs %}
				<tr class="data_table_tr">
					<td>{{t.create_time|ft}}</td>
					<td style="text-align:left">{{t.remark|f}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br /><br />
  </div>
</div>	
	
{% endblock %}