{% extends "master.html" %}
{% block subtitle %} - 更新票据{% endblock %}

{% block extCSS %}
<style type="text/css"> 
	.template{display:none};
</style>
{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var msg = new Array();
		if(!$("#code").val()){
			msg.push('请填写票本编号！');
		}
		if(!$("#province_id").val()){
			msg.push('请选择站点！');
		}
		if(!$("#name").val()){
			msg.push('请填写票据前缀！');
		}
		if(!$("#apply_person_id").val()){
			msg.push('请选择领票人！');
		}
		if(!$("#operator_id").val()){
			msg.push('请选择操作人！');
		}
		if(!$("#begin_no").val()){
			msg.push('请填写票据开始编号！');
		}
		if(!$("#end_no").val()){
			msg.push('请填写票据结束编号！');
		}
		
		if(msg.length>0){
			alert(msg.join("\n"));
		}else{
			$('form').submit();
		}
	}
	
	function todelete() {
    	if(confirm('{{_(MSG_CONFIRM_DELETE)}}')){
    		var url = "{{url_for('.view', action = action,m = 'DELETE',id=v['id'])|safe}}";
    		redirect(url);
    	}else{
    		return false;
    	}
	}
	
	function add_line(obj){
		var tmp = $(".template").clone().removeClass("template");
		$("input[type='text']",tmp).each(function(){
			var t = $(this);
			var n = t.attr('name').replace("_x","_"+index);
			t.attr("name",n);
		})
		
		$($(obj).parents("li")[0]).after(tmp);
		index ++ ;
	}
	
	
	function del_line(obj){
		$($(obj).parents("li")[0]).remove();
	}	
//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action=action)}}')"/></li>
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return tosave()"/></li>
        <li><input type="image" src="/static/images/system/order_manage_29.jpg" width="77" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_29.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return todelete()"/></li>
        
    </ul>
</div>
{% endblock %}
{% block content %}
	<form action="{{url_for('.view', action = action,m='SAVE_UPDATE')}}" method="post">
		<input type="hidden" name="id" value="{{v['id']}}"/>
		<table>
			<tr>
				<td>票本编号</td>
				<td><input type="text" name="code" id="code" value="{{v['code']}}"/></td>
			</tr>
			<tr>
				<td>票据前缀</td>
				<td><input type="text" id="name" name="name" value="{{v['name']|f}}"/></td>
			</tr>
			<tr>
				<td>站点</td>
				<td>
					{{mymacros.select(id='province_id',list=MASTER_ALL('Province'),value=v['province_id'],class="must_input",style="width:150px")}}
					
					{{mymacros.select(id='city_id',list=RELATED_CITY(v['city_id']),value=v['city_id'],class="",style="width:150px")}}
				</td>
			</tr>
			<tr>
				<td>开始编号</td>
				<td><input type="text" name="begin_no" id="begin_no" value="{{v['begin_no']}}"/></td>
			</tr>
			<tr>
				<td>结束编号</td>
				<td><input type="text" name="end_no" id="end_no" value="{{v['end_no']}}"/></td>
			</tr>
			<tr>
				<td>领票时间</td>
				<td><input type="text" name="apply_time" id="apply_time" class="datetimepicker" value="{{v['apply_time']}}"/></td>
			</tr>
			<tr>
				<td>领票人</td>
				<td>
					{{mymacros.select(id='apply_person_id',list=MASTER_ALL('User'),value=v['apply_person_id'],class="must_input",style="width:150px")}}
				</td>
			</tr>
			<tr>
				<td>操作人</td>
				<td>
					{{mymacros.select(id='operator_id',list=MASTER_ALL('User'),value=v['operator_id'],class="must_input",style="width:150px")}}
				</td>
			</tr>
			<tr>
				<td>{{_('Remark')}}</td>
				<td><textarea name="remark">{{v['remark']|f}}</textarea></td>
			</tr>
		</table>
	</form>
	
{% endblock %}