{% extends "master.html" %}
{% block subtitle %} - 新建权限{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		
		var msg = new Array();
		if(!$("#name").val()){
			msg.push("请填写权限名！");
		}
		
		if(msg.length>0){
			show_error(msg.join("\n"));
			return false;	
		}else{
			$('form').submit();
		}
	}
//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action='permission')}}')"/></li>
		{% if 'CREATE_PERMISSION' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
    	{% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="order_add_div">
	<div class="order_add_div_body">	
	<form action="{{url_for('.view', action = 'permission',m='SAVE_NEW')}}" method="post">
		<table>
			<tr>
				<td width="150" height="30" align="right">{{_('Permission Name')}}</td>
				<td width="12">&nbsp;</td>
				<td><input type="text" name="name" id="name" class="must_input"/></td>
			</tr>
			<tr>
				<td height="30" align="right">{{_('Description')}}</td>
				<td>&nbsp;</td>
				<td><textarea name="desc"></textarea></td>
			</tr>
			<tr>
				<td height="30" align="right">{{_('Group')}}</td>
				<td>&nbsp;</td>
				<td>
					<table>
						<tr>
							<td><input type="checkbox" class="allbox"/></td><td>{{_('Group Name')}}</td><td>{{_('Description')}}</td>
						</tr>
						{% for g in groups%}
							<tr>
								<td><input class="onebox" type="checkbox" name="gids" value="{{g.id}}"/></td>
								<td>{{g}}</td>
								<td>{{g.desc|ifFalse}}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>
	</form>
	<br /><br />
	</div>
</div>		
{% endblock %}