{% extends "master.html" %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		$('form').submit();
	}
//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action=action)}}')"/></li>
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
        <li style="padding:0px; margin:0px 55px 0px 0px; float:right"><a href="{{url_for('bpAuth.logout')}}"><img src="/static/images/system/order_manage_22.jpg" width="56" height="29" /></a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
	<form action="{{url_for('.view', action = action,m='SAVE_NEW')}}" method="post">
		<table>
			<tr>
				<td>{{_('Code')}}</td>
				<td><input type="text" name="code"/></td>
			</tr>
			<tr>
				<td>{{_('Name')}}</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>{{_('Tel')}}</td>
				<td><input type="text" name="tel"/></td>
			</tr>
			<tr>
				<td>{{_('Mobile')}}</td>
				<td><input type="text" name="mobile"/></td>
			</tr>
			<tr>
				<td>{{_('Remark')}}</td>
				<td><textarea name="remark"></textarea></td>
			</tr>
		</table>
	</form>
	
{% endblock %}