{% extends "master.html" %}
{% block subtitle %} - 新建承运商价格表{% endblock %}


{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var t = /^[\d\.]+$/;
		var msg = new Array();
		if(!$('#province_id').val()){
			msg.push('请填写发往的省/直辖市！');
		}
		if(!$("#qty_ratio").val()){
			msg.push('请填写数量费率！');
		}else if(!t.test($("#qty_ratio").val())){
			msg.push('请正确填写数量费率，必须是只包括数字和小数点！');
		}
		
		if(!$("#weight_ratio").val()){
			msg.push('请填写重量费率！');
		}else if(!t.test($("#weight_ratio").val())){
			msg.push('请正确填写重量费率，必须是只包括数字和小数点！');
		}
		
		if(!$("#vol_ratio").val()){
			msg.push('请填写体积费率！');
		}else if(!t.test($("#vol_ratio").val())){
			msg.push('请正确填写体积费率，必须是只包括数字和小数点！');
		}
				
		if(msg.length<1){
			$("form").submit();
		}else{
			alert(msg.join("\n"));
		}
	
	}
	

	
    $(document).ready(function(){    
    	$("#province_id").change(function(){
	        province_change(this,'#city_id');
	    });
    });
//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><a href="{{url_for('.view', action = 'supplier',id=supplier_id)}}"><img width="71" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" id="Image1" src="/static/images/system/order_manage_25.jpg"/></a></li>
        {% if 'CREATE_CUSTOMER' is get_permission%}
        <li><img width="77" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','images/order_manage_h_33.jpg',1)" id="Image3" src="/static/images/system/order_manage_33.jpg" onclick="return tosave()"/></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
    <td class="title_fonts_display">· 新建承运商价格表</td>
</tr>
</tbody>
</table>



<form action="{{url_for('.view', action = 'supplier',m='PRICE_LIST_SAVE_NEW')}}" method="post">
	<input type="hidden" name="supplier_id" value="{{supplier_id}}"/>
	
<div class="order_add_div">
  <div class="order_add_div_header">新建承运商价格表</div>

    <div class="order_add_div_body">
  <table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top" width="150px" align="center" height="30px">发往的省/直辖市</td>
			<td valign="top">
				{{mymacros.select(id='province_id',list=MASTER_ALL('Province'),value=None,class="must_input",style="width:150px")}}
				<select name="city_id" id="city_id" style="width:150px"></select>
			</td>
		</tr>
		<tr>
			<td valign="top" align="center" height="30px">数量费率(元/件)</td>
			<td valign="top"><input type="text" name="qty_ratio" id="qty_ratio" value="" class="order_add_div_body_input numeric must_input number_input_right"/></td>
		</tr>
		<tr>
			<td valign="top" align="center" height="30px">重量费率(元/吨)</td>
			<td valign="top"><input type="text" name="weight_ratio" id="weight_ratio" value="" class="order_add_div_body_input numeric must_input number_input_right"/></td>
		</tr>
		<tr>
			<td valign="top" align="center" height="30px">体积费率(元/米<sup>3</sup>)</td>
			<td valign="top"><input type="text" name="vol_ratio" id="vol_ratio" value="" class="order_add_div_body_input numeric must_input number_input_right"/></td>
		</tr>
		<tr>
			<td valign="top" align="center">{{_('Remark')}}</td>
			<td valign="top"><textarea class="" style="width:550px;height:30px;" id="remark" name="remark"></textarea></td>
		</tr>
	</table>
  <div style="clear:both"></div>
  
  </div>
	
	
	

</div>
</form>
<br /><br />



{% endblock %}