{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
        <li><a href="{{url_for('.view',action='supplier',m='NEW')}}"><img src="/static/images/system/order_manage_31.jpg" width="77" height="21" id="Image2" onmouseover="MM_swapImage('Image2','','/static/images/system/order_manage_h_31.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></li>
        <li style="padding:0px; margin:0px 55px 0px 0px; float:right"><a href="{{url_for('bpAuth.logout')}}"><img src="/static/images/system/order_manage_22.jpg" width="56" height="29" /></a></li>
    </ul>
</div>
{% endblock %}


{% block content %}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="left">
        
        	<table width="99%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
          <tr>
            <td width="13">&nbsp;</td>
            <td></td>
            <td width="13">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="title_fonts_display">承运商管理</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
              <table width="99%" border="0" cellspacing="0" cellpadding="0">
                <tr class="field_head">
                  <td align="center">{{_('Supplier Name')}}</td>
                  <td align="center">{{_('Address')}}</td>
                  <td align="center">{{_('Contact Person')}}</td>
                  <td align="center">{{_('Phone')}}</td>
                </tr>
				{% for r in records %}
					<tr class="data_table_tr">
						<td><a href="{{url_for('.view', action = 'supplier',m = 'UPDATE',id=r.id)}}">{{r}}</a></td>
						<td>{{r.provice|ifFalse}}{{r.city|ifFalse}}{{r.district|ifFalse}}{{r.address|ifFalse}}</td>
						<td>{{r.contact_person|ifFalse}}</td>
						<td>{{r.phone|ifFalse}}</td>
						
					</tr>
				{% endfor %}
				<tr class="data_table_tr">
				    <td colspan="100" style="text-align:right">{{records.pager(**PAGINATE_PARAMS)}}</td>
				</tr>
              </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
{% endblock %}