{% extends "master.html" %}
{% block subtitle %} - 更新承运商{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[

	function tosave(){
		var msg = Array();
		if(!$("#name").val()){
			msg.push('请填写承运商名称！');
		}
		
		if(!$("#contact_person").val()){
			msg.push('请填写承运商联系人！');
		}
		
		if(!$("#mobile").val() && !$("#phone").val()){
			msg.push('请填写联系人的电话或者手机！');
		}
		
		var mobile = $("#mobile").val();
		if( mobile && !check_mobile(mobile)){
			msg.push('请正确填写联系人手机！');
		}
		
		if(!$("#payment_id").val()){
			msg.push('请选择付款方式！');
		}
		
		if(msg.length > 0){
			alert(msg.join('\n'));
			return;		
		}else{
			$("form").submit();
		}
		
	
	}

//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
	    <li><a href="{{url_for('.view', action = 'supplier')}}"><img width="71" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" id="Image1" src="/static/images/system/order_manage_25.jpg"/></a></li>
        {% if 'UPDATE_SUPPLIER' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return tosave()"/></li>
        <li><a href="{{url_for('.view', action = 'supplier',m='PRICE_LIST_LIST',id=obj.id)}}"><img src="/static/images/system/jgb.jpg" width="77" height="21" id="Image23" onmouseover="MM_swapImage('Image23','','/static/images/system/jgb_h.jpg',1)" onmouseout="MM_swapImgRestore()"/></a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td class="title_fonts_display">· 承运商管理</td>
  </tr>
</tbody></table>


<form action="{{url_for('.view', action = 'supplier',m='SAVE_UPDATE')}}" method="post">

<input type="hidden" name="id" value="{{obj.id}}"/>

<div class="order_add_div">
  <div class="order_add_div_header">承运商详情</div>
    <div class="order_add_div_body">
  <ul>
        	<li style="width:450px;"><span><sup class="warn">*</sup>详细名称</span>
        	  <input type="text" class="must_input" style="width:300px" name="name" id="name" value="{{obj.name|f}}"/>
        	</li>
       	  <li style="width:180px;"><span>承运商编号</span>
    	    <input type="text" style="width:100px" name="no" value="{{obj.no|f}}"/>
  	    </li>
  	    <li style="width:280px;"><span>创建日期</span>
    	    {{obj.create_time|ft}}
  	    </li>
    	  <li style="width:859px;"><span>{{_('Address')}}</span>
    	    <input type="text" style="width:760px" name="address" value="{{obj.address|f}}"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Contact Person')}}</span>
    	    <input type="text" style="width:360px" name="contact_person" id="contact_person" class="must_input" value="{{obj.contact_person|f}}"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Mobile')}}</span>
    	    <input type="text" style="width:360px" name="mobile" id="mobile" value="{{obj.mobile|f}}" class="numeric"/>
    	  </li>
    	  <li style="width:227px;"><span>{{_('Phone')}}</span>
    	    <input type="text" style="width:140px" name="phone" id="phone" value="{{obj.phone|f}}"/>
  	    </li>
    	  <li style="width:260px;"><span>公司邮箱</span>
    	    <input type="text" style="width:170px" name="email" value="{{obj.email|f}}"/>
  	    </li>
  	    <li style="width:200px;"><span>创建人</span>
    	    {{obj.create_by|f}}
  	    </li>
    	  <li style="width:220px;">付款方式
    	  	{{mymacros.select(id='payment_id',list=MASTER_ALL('Payment'),value=None,class="must_input",style="")}}
  	    </li>
    	  <li style="width:925px;"><span>{{_('Remark')}}</span>
    	    <textarea class="order_add_div_body_input" style="width:840px; height:100px" name="remark">{{obj.remark|f}}</textarea>
        </li>
      </ul>
  <div style="clear:both"></div>
  </div>
  
  <div class="order_add_div_header">历史记录</div>
  <div class="order_add_div_body">
  	<table>
		<thead>
			<tr class="field_head">
				<th align="center">{{_('Time')}}</th>
				<th align="center" style="width:800px">{{_('Remark')}}</th>
			</tr>
		<thead>
		<tbody id="transit_list">
			{% for t in obj.system_logs %}
				<tr class="data_table_tr">
					<td>{{t.create_time|ft}}</td>
					<td style="text-align:left">{{t.remark|f}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br /><br />
  </div>
  
</div>
</form>


<br /><br />


	
	
{% endblock %}