{% extends "master.html" %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var msg = Array();
		if(!$('#name').val()){
			msg.push('请填写名称！');
		}
		
		if(msg.length>0){
			alert(msg.join('\n'));
		}else{
			$('form').submit();	
		}
	}
	
	function todelete() {
    	if(confirm('{{_(MSG_CONFIRM_DELETE)}}')){
    		var url = "{{url_for('.view', action = action,m = 'DELETE',id=v['id'])|safe}}";
    		redirect(url);
    	}else{
    		return false;
    	}
	}
//]]>
</script>
{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action=action)}}')"/></li>
        {% if 'UPDATE_MASTER' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return tosave()"/></li>
        {% endif %}
        {% if 'DELETE_MASTER' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_29.jpg" width="77" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_29.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return todelete()"/></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="order_add_div">
	<div class="order_add_div_header">
		{% if action == 'item' %}
			货物详细信息	
		{% elif action == 'note'%}
			票据详细信息
		{% elif action == 'packtype'%}
			包装方式详细信息
		{% elif action == 'pickuptype'%}
			提货方式详细信息
		{% elif action == 'payment'%}
			付款方式详细信息
		{% endif %}
	</div>
	<div class="order_add_div_body">
	<form action="{{url_for('.view', action = action,m='SAVE_UPDATE')}}" method="post">
		<input type="hidden" name="id" value="{{v['id']}}"/>
		<table>
			<tr>
				<td>名称</td>
				<td><input type="text" name="name" value="{{v['name']|f}}" id="name" class="must_input"/></td>
			</tr>
			<tr>
				<td>{{_('Remark')}}</td>
				<td><textarea name="remark">{{v['remark']|f}}</textarea></td>
			</tr>
		</table>
	</form>
	
	<div style="clear:both"></div>
  </div>
  
  <div class="order_add_div_header">历史记录</div>
  <div class="order_add_div_body">
  	<table>
		<thead>
			<tr class="field_head">
				<th align="center">{{_('Time')}}</th>
				<th align="center" style="width:800px">{{_('Remark')}}</th>
			</tr>
		<thead>
		<tbody id="transit_list">
			{% for t in obj.system_logs %}
				<tr class="data_table_tr">
					<td>{{t.create_time|ft}}</td>
					<td style="text-align:left">{{t.remark|f}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br /><br />
  </div>
	
{% endblock %}