{% extends "master.html" %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		$('form').submit();
	}
	
	function todelete() {
    	if(confirm('{{_(MSG_CONFIRM_DELETE)}}')){
    		var url = "{{url_for('.view', action = 'user',m = 'DELETE',id=v['id'])|safe}}";
    		redirect(url);
    	}else{
    		return false;
    	}
	}
//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="redirect('{{url_for('bpAdmin.view',action='user')}}')"/></li>
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
        <li><input type="image" src="/static/images/system/order_manage_29.jpg" width="77" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_29.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return todelete()"/></li>
        
    </ul>
</div>
{% endblock %}


{% block content %}
	<form action="{{url_for('.view', action = 'user',m='SAVE_UPDATE')}}" method="post">
		<input type="hidden" name="id" value="{{v['id']}}"/>
		<table>
			<tr>
				<td>{{_('User Name')}}</td>
				<td><input type="text" name="name" value="{{v['name']}}"/></td>
			</tr>
			<tr>
				<td>{{_('Password')}}</td>
				<td><input type="password" name="password" value="{{v['password']}}"/></td>
			</tr>
			<tr>
				<td>{{_('Confirm Password')}}</td>
				<td><input type="password" name="repassword" value="{{v['password']}}"/></td>
			</tr>
			<tr>
				<td>{{_('E-mail')}}</td>
				<td><input type="text" name="email" value="{{v['email']|ifFalse}}"/></td>
			</tr>
			<tr>
				<td>{{_('Phone')}}</td>
				<td><input type="text" name="phone" value="{{v['phone']|ifFalse}}"/></td>
			</tr>
			<tr>
				<td>{{_('Group')}}</td>
				<td>
					<table>
						<tr>
							<td><input type="checkbox" class="allbox"/></td><td>{{_('Group Name')}}</td><td>{{_('Description')}}</td>
						</tr>
						{% for g in all_groups%}
							<tr>
								<td>
									{% if g.id in gids %}
										<input class="onebox" type="checkbox" name="gids" value="{{g.id}}" checked="checked"/>
									{% else %}
										<input class="onebox" type="checkbox" name="gids" value="{{g.id}}"/>
									{% endif %}
								</td>
								<td>{{g}}</td>
								<td>{{g.desc|ifFalse}}</td>
							</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>
	</form>
	
{% endblock %}