img {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

body,td,th {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f7c800;
}

.user_display {
	font-family: "宋体";
	font-size: 12px;
	color: #990000;
	text-decoration: none;
}
.menu_hover{
background:url(/static/images/system/group_manage_35.jpg);
width:204px;
height:28px;
line-height:28px;
font-size:14px;
font-weight:bold;
font-family:"宋体";
color:#FFFFFF;
text-align:center;
}

.menu_hover_highlight{
background:url(/static/images/system/group_manage_54.jpg);
width:204px;
height:28px;
line-height:28px;
font-size:14px;
font-weight:bold;
font-family:"宋体";
color:#FFFFFF;
text-align:center;
}

a.menu_left:link {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.menu_left:visited {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.menu_left:hover {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.menu_left:active {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.title_fonts_display {
	font-family: "宋体";
	font-size: 14px;
	color: #990000;
	text-decoration: none;
	font-weight:bold;
}
.field_head td{
	background-color:#8f8f8f;
	height:28px;
	line-height:28px;
	color:#FFFFFF;
	font-family:"宋体";
	font-size:12px;
	font-weight:bold;
}
.data_table_tr td{
border-bottom:#dddddd 1px solid;
height:24px;
line-height:24px;
text-align:center;
}
.search_input{
background-color:#FFFFCC;
width:180px;
height:20px;
}