{% extends "master.html" %}

{% block subtitle %} - 仓位管理{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	
	function tosave(){
		var msg = new Array();
		
		if(!$("#name").val()){
			msg.push("请输入仓位名称！");
		}
		
		var op = $("#parent_id :selected");
		var obj_id = $("#id").val();
		var cids = $("#current_full_path_ids").val();
		var r = new RegExp("^"+cids.replace('|','\\|')+"\\|");
		alert(r);
		if(op.val() == obj_id){
			msg.push("请不要选择当前自身仓位作为上一级仓位！");
		}
		if(r.test(op.attr('full_ids'))){
			msg.push("请不要选择当前仓位的下属仓位作为上一级仓位！");
		}
		
		
		if(msg.length>0){
			alert(msg.join("\n"));
			return false;
		}
		
		$("form").submit();
	}
	
	function toreturn(){
			return redirect_alert("{{MSG_LEAVE_WITHOUT_SAVING}}","{{request.referrer}}");
	}	
//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toreturn();"/></li>
        {% if 'CREATE_WAREHOUSE' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
	
	<form action="{{url_for('.view',action='save_update')}}" method="post">
		<input type="hidden" name="id" id="id" value="{{obj.id}}"/>
		<input type="hidden" id="current_full_path_ids" value="{{obj.full_path_ids}}"/>
		<table>
			<tr><td>仓位名称</td><td><input type="text" name="name" id="name" value="{{obj.name|f}}" class="must_input"/></td></tr>
			<tr><td>仓位地址</td><td><textarea name="address">{{obj.address|f}}</textarea></td></tr>
			<tr><td>仓位管理人员</td><td><input type="text" name="manager" value="{{obj.manager|f}}"/></td></tr>
			<tr>
				<td>上一级仓位</td>
				<td>
					{{mymacros.location_select(id='parent_id',list=locations,value=obj.parent_id,class="field order_add_div_body_input",style="width:300px")}}
				</td>
			</tr>
			<tr><td>备注</td><td><textarea name="remark">{{obj.remark|f}}</textarea></td></tr>
		</table>
	</form>
	
{% endblock %}