{% extends "master.html" %}

{% block subtitle %} - 仓存管理{% endblock %}

{% block extJS %}

{% endblock %}

{% block content %}
	<p>{{warehouse}}</p>
	
	<table border="1" cellpadding="3" cellspacing="3">
		<thead>
			<tr>
				<td>货物名称</td>
				<td>数量</td>
				<td>货物来源</td>
				<td>货物地点</td>
				<td>入仓时间</td>
				<td>经手人</td>
			</tr>
		</thead>
		{% for (item,location) in result %}
			<tr>
				<td>{{item.item}}</td>
				<td>{{item.qty}}</td>
				<td>{{item.refer_order_header}}</td>
				<td>{{location.full_path}}</td>
				<td>{{item.create_time|ft}}</td>
				<td>{{item.create_by}}</td>
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}