{% extends "master.html" %}
{% block subtitle %} - 更新客户信息{% endblock %}


{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function tosave(){
		var msg = new Array();
		if(!$('#name').val()){
			msg.push('请填写客户名称！');
		}
		if(!$("#address").val()){
			msg.push('请填写地址！');
		}
		if(!$("#contact_person").val()){
			msg.push('请填写联系人！');
		}
		var mobile = $("#mobile").val();
		if(mobile && !check_mobile(mobile)){
			msg.push("请正确填写手机号码！");
		}
		if(msg.length<1){
			$("form").submit();
		}else{
			alert(msg.join("\n"));
		}
	
	}
	
	
	var attachment_index_id = 1;
	function add_attachment(){
	    attachment_index_id++;
	    var html = '<tr class="data_table_tr">';
	    html += '<td><input type="file" name="attahcment_'+attachment_index_id+'" value="" size="60"/></td>';
	    html += '<td><input type="button" value="删除" onclick="del_attachment(this);"/></td>';
	    html += '</tr>';
	    $("#attachment_list").append(html);
	}
	
	function del_attachment(obj){
	    $($(obj).parents("tr")[0]).remove();
	}

	$(document).ready(function(){
    	$("#province_id").change(function(){
	        province_change(this,'#city_id');
	    });
    	
    	$("#tmp_province_id").change(function(){
	        province_change(this,'#tmp_city_id');
	    });
    	
	});

//]]>
</script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
	    <li><a href="{{url_for('.view', action = 'view',id=obj.id)}}"><img width="71" height="21" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" id="Image1" src="/static/images/system/order_manage_25.jpg"/></a></li>
        {% if 'UPDATE_CUSTOMER' is get_permission%}
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return tosave()"/></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

        

{% block content %}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
    <td class="title_fonts_display">· 客户管理</td>
</tr>
</tbody>
</table>



<form action="{{url_for('.view', action = 'save_update')}}" method="post" enctype="multipart/form-data">

<input type="hidden" name="id" value="{{obj.id}}"/>

<div class="order_add_div">
  <div class="order_add_div_header">客户详情</div>
    <div class="order_add_div_body">
  <ul>
        	<li style="width:450px;"><span><sup class="warn">*</sup>{{_('Customer Name')}}</span>
        	  <input type="text" class="must_input" style="width:300px" name="name" id="name" value="{{obj.name|f}}"/>
        	</li>
       	  <li style="width:180px;"><span>客户编号</span>
    	    <input type="text" style="width:100px" name="no" value="{{obj.no|f}}"/>
  	    </li>
    	   <li style="width:180px;"><span>显示名称</span>
    	    <input type="text" style="width:100px" name="display_name" id="display_name" value="{{obj.display_name|f}}"/>
  	    </li>
  	    <li style="width:859px;"><span>{{_('Address')}}</span>
    	  	{{mymacros.select(id='province_id',list=MASTER_ALL('Province'),value=obj.province_id,class="must_input",style="width:150px")}}
    	  	{{mymacros.select(id='city_id',list=cities,value=obj.city_id,class="",style="width:150px")}}
    	    <input type="text" style="width:460px" name="address" id="address" class="must_input" value="{{obj.address|f}}"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Contact Person')}}</span>
    	    <input type="text" style="width:360px" name="contact_person" id="contact_person"  value="{{obj.contact_person|f}}" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Mobile')}}</span>
    	    <input type="text" style="width:360px" name="mobile" value="{{obj.mobile|f}}" class="numeric"/>
    	  </li>
    	  <li style="width:227px;"><span>{{_('Phone')}}</span>
    	    <input type="text" style="width:140px" name="phone" value="{{obj.phone|f}}"/>
  	    </li>
    	  <li style="width:260px;"><span>公司邮箱</span>
    	    <input type="text" style="width:170px" name="email" value="{{obj.email|f}}"/>
  	    </li>
    	  
    	  <li style="width:220px;">票据
    	  	{{mymacros.select(id='note_id',list=MASTER_ALL('Note'),value=obj.note_id,class="",style="width:150px")}}
  	    </li>
    	  <li style="width:925px;"><span>{{_('Remark')}}</span>
    	    <textarea class="order_add_div_body_input" style="width:840px; height:100px" name="remark">{{obj.remark|f}}</textarea>
        </li>
        <li style="width:200px;"><span>创建日期</span>{{obj.create_time|ft}}</li>
        <li style="width:200px;"><span>创建人</span>{{obj.create_by|f}}</li>
        <li style="width:200px;"><span>更新日期</span>{{obj.update_time|ft}}</li>
        <li style="width:200px;"><span>更新人</span>{{obj.update_by|f}}</li>
      </ul>
  <div style="clear:both"></div>
	<br /><br />
	<!-- Attachment -->
		<div>
		  <p><input type="button" value="添加附件" onclick="add_attachment()"/></p>
		</div>
		<br />
		<table>
			<thead>
				<tr class="field_head">
					<th style="width:550px">文件</th>
					<th style="width:150px">操作</th>
				</tr>
			</thead>
			<tbody id="attachment_list">
				{% for f in obj.attachment %}
				<tr class="data_table_tr">
					<td><input type="hidden" name="old_attachment_{{f.id}}" value="{{f.id}}"/>
						{{f.name}}
					</td>
					<td><input type="button" value="删除" onclick="del_attachment(this);"/></td>
				</tr>
			{% endfor %}
				<tr class="data_table_tr">
					<td><input type="file" name="attahcment_1" size="60"/></td>
					<td><input type="button" value="删除" onclick="del_attachment(this);"/></td>
				</tr>
			</tbody>
		</table>
	  <div style="clear:both"></div>



  </div>
<br /></br >
</form>


{% endblock %}