{% extends "master.html" %}

{% block extCSS %}

{% endblock %}


{% block extJS %}

<script language="JavaScript" type="text/javascript">
//<![CDATA[
	$(document).ready(function(){
		$("#source_province_id").change(function(){
	        province_change(this,'#source_city_id');
	    });
	    
	    $("#destination_province_id").change(function(){
	        province_change(this,'#destination_city_id');
	    });
	});
	
	
	function toexp(){
		if($("input[name='order_ids']:checked").length < 1){
			show_error('{{MSG_ATLEAST_ONE_ORDER_TO_EXPORT}}');
			return false;
		}
	
		$("#records").attr('action',"{{ url_for('.view',action='export') }}");
		$("#records").submit();
	}
	
	function allselect(obj){
		var t = $(obj);
		if(t.attr('checked')){
			$("input[type='checkbox'][name='order_ids']").attr('checked','checked');
		}else{
		    $("input[type='checkbox'][name='order_ids']").removeAttr('checked');
		}
	}
	

	function todo_approve(obj){	
		var v = $(":selected",obj).val();
		$(obj).val('');
		if(v){
			return todo('APPROVE',v,function(r){
				if(r.code != 0 ){
					show_error(r.msg);
				}else{
					$("input[name='order_ids']:checked").each(function(){
						var tmp = $(this);
						var tr = $(tmp.parents("tr")[0]);
						if(v=='1'){
							$(".approval_span",tr).text("{{_(ORDER_APPROVED[1])}}");
						}else{
							$(".approval_span",tr).text("{{_(ORDER_DISAPPROVED[1])}}");
						}
					});				
					show_info(r.msg);
				}	
			});
		}
	}
						
	
	function todo_paid(obj){
		var v = $(":selected",obj).val();
		$(obj).val('');
		if(v){
			return todo('PAID',v,function(r){
				if(r.code != 0 ){
					show_error(r.msg);
				}else{
					$("input[name='order_ids']:checked").each(function(){
						var tmp = $(this);
						var tr = $(tmp.parents("tr")[0]);
						if(v=='0'){
							$(".paid_span",tr).text("{{_(ORDER_NOT_PAID[1])}}");
						}else{
							$(".paid_span",tr).text("{{_(ORDER_PAID[1])}}");
						}
					});				
					show_info(r.msg);
				}	
			});
		}
	}
	
	function todo_supplier_paid(obj){
		var v = $(":selected",obj).val();
		$(obj).val('');
		if(v){
			return todo('SUPLLIER_PAID',v,function(r){
				if(r.code != 0 ){
					show_error(r.msg);
				}else{
					$("input[name='order_ids']:checked").each(function(){
						var tmp = $(this);
						var tr = $(tmp.parents("tr")[0]);
						if(v=='0'){
							$(".supplier_paid_span",tr).text("{{_(DELIVER_NOT_PAID[1])}}");
						}else{
							$(".supplier_paid_span",tr).text("{{_(DELIVER_PAID[1])}}");
						}
					});				
					show_info(r.msg);
				}	
			});
		}
	}
	
	function todo_order_return(obj){
	    var v = $(":selected",obj).val();
	    $(obj).val('');
	    if(v){
	        return todo('ORDER_RETURN',v,function(r){
	            if(r.code != 0 ){
	                show_error(r.msg);
	            }else{
	                $("input[name='order_ids']:checked").each(function(){
						var tmp = $(this);
						var tr = $(tmp.parents("tr")[0]);
		                if(v=='0'){
		                    $(".order_return_span").text("未返");
		                }else{
		                    $(".order_return_span").text("已返");
		                }   
					});	        
	                show_info(r.msg);
	            }   
	        });
	    }
	}
	
	function todo_exception(obj){
	    var v = $(":selected",obj).val();
	    $(obj).val('');
	    if(v){
	        return todo('EXCEPTION',v,function(r){
	            if(r.code != 0 ){
	                show_error(r.msg);
	            }else{
	                $("input[name='order_ids']:checked").each(function(){
						var tmp = $(this);
						var tr = $(tmp.parents("tr")[0]);
						if(v=='1'){
		                    $(".exception_span").text("是");
		                }else{
		                    $(".exception_span").text("否");
		                } 
					});	                
	                show_info(r.msg);
	            }   
	        });
	    }
	}
	
	function todo_less_qty(obj){
	    var v = $(":selected",obj).val();
	    $(obj).val('');
	    if(v){
	        return todo('LESS_QTY',v,function(r){
	            if(r.code != 0 ){
	                show_error(r.msg);
	            }else{
	                $("input[name='order_ids']:checked").each(function(){
						var tmp = $(this);
						var tr = $(tmp.parents("tr")[0]);
						if(v=='1'){
		                    $(".lessqty_span").text("是");
		                }else{
		                    $(".lessqty_span").text("否");
		                } 
					});	           
	                show_info(r.msg);
	            }   
	        });
	    }
	}
	
	function todo(type,flag,handler){
		var ids = new Array();
		
		$("input[name='order_ids']:checked").each(function(){
			ids.push($(this).val());
		});
		if(ids.length < 1){
			show_error('请先选择订单然后再进行操作！');
			return false;
		}
		
		$.getJSON("{{ url_for('.view',action='ajax_change_flag') }}",
				 {
				 	't' : nowstr(),
				 	'order_ids' : ids.join('|'),
				 	'type' : type,
				 	'flag' : flag
				 },
				 handler
		)
	}
		
		
	function toSort(f,d){
		$("#field").val(f);
		$("#direction").val(d);
		$("#search_form").submit();
	}
	
//]]>
</script>

{% endblock %}


        
        
{% block inner_menu %}
<div class="inner_menu">
	<ul>
		<!-- 
        <li><img src="/static/images/system/order_manage2_35.jpg" width="101" height="21" id="Image7" onmouseover="MM_swapImage('Image7','','/static/images/system/order_manage1_35.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toexp();"/></li>
		-->
        <li>
        	<select onchange="todo_exception(this);">
        		<option>--是否异常--</option>
        		<option value="1">标记为异常</option>
        		<option value="0">取消异常标记</option>
        	</select/>
        </li>
        <li>
        	<select onchange="todo_less_qty(this);">
        		<option>--是否少货--</option>
        		<option value="1">标记为少货</option>
        		<option value="0">取消少货标记</option>
        	</select/>
        </li>
        {% if 'FIN_APPROVE' is get_permission %}
        <li>
        	<select onchange="todo_approve(this);">
        		<option>--审核是否通过--</option>
        		<option value="1">{{_(ORDER_APPROVED[1])}}</option>
        		<option value="2">{{_(ORDER_DISAPPROVED[1])}}</option>
        	</select/>
        </li>
        {% endif %}
        {% if 'FIN_PAID' is get_permission %}
        <li>
        	<select onchange="todo_paid(this);">
        		<option>--客户是否付款--</option>
        		<option value="0">{{_(ORDER_NOT_PAID[1])}}</option>
        		<option value="1">{{_(ORDER_PAID[1])}}</option>
        	</select/>
        </li>
        {% endif %}
        {% if 'FIN_SUPPLIER_PAID' is get_permission %}
        <li>
        	<select onchange="todo_supplier_paid(this);">
        		<option>--是否付款予承运商--</option>
        		<option value="0">{{_(DELIVER_NOT_PAID[1])}}</option>
        		<option value="1">{{_(DELIVER_PAID[1])}}</option>
        	</select/>
        </li>
        {% endif %}
        <li>
        	<select onchange="todo_order_return(this);">
        		<option>--客户是否回单--</option>
        		<option value="{{ORDER_NOT_RETURN_NOTE[0]}}">{{_(ORDER_NOT_RETURN_NOTE[1])}}</option>
        		<option value="{{ORDER_RETURN_NOTE[0]}}">{{_(ORDER_RETURN_NOTE[1])}}</option>
        	</select/>
        </li>
    </ul>
</div>
{% endblock %}


{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td class="title_fonts_display">&middot; 财务管理</td></tr>
</table>
<div class="search_div">
	<div class="search_div_header">订单搜索</div>
    <div class="search_div_body">
    	<form action="{{url_for('.view')}}" method="post" id="search_form">

    	<ul>
          <li style="width:100%; border-right:#E2FEFE 1px solid;"><span>起始日期</span>
        	  <input type="text" class="datepicker" name="create_time_from" value="{{values.get('create_time_from','')|f}}"/>&nbsp;&nbsp;-&nbsp;&nbsp;<input type="text" class="datepicker" name="create_time_to" value="{{values.get('create_time_to','')|f}}"/>
          </li>
          <li><span>{{_('Order Number')}}</span><input type="text" name="ref_no" value="{{values.get('ref_no','')|f}}"/></li>
          <li style="width:500px"><span>系统编号</span><input type="text" name="no" value="{{values.get('no','')|f}}"/></li>
                 
          <li style="width:755px"><span>{{_('Source Station')}}</span>
	          	<select name="source_province_id" id="source_province_id" style="width:150px">
	    	      <option value=""></option>
	    	      {% for p in MASTER_ALL('Province') %}
	    	          {% if '%s' %p.id == values.get('source_province_id',None) %}
	    	          	<option value="{{p.id}}" selected="selected">{{p}}</option>
	    	          {% else %}
	    	          	<option value="{{p.id}}">{{p}}</option>
	    	          {% endif %}
	    	      {% endfor %}
	    	  </select>
	    	  	<select name="source_city_id" id="source_city_id" style="width:150px">
	    	  	    <option value=""></option>
	    	  		{% for c in source_cites %}
	    	          {% if '%s' %c.id == values.get('source_city_id',None) %}
	    	          	<option value="{{c.id}}" selected="selected">{{c}}</option>
	    	          {% else %}
	    	          	<option value="{{c.id}}">{{c}}</option>
	    	          {% endif %}
	    	        {% endfor %}
	    	  	</select>
          </li>
          <li style="width:755px"><span>{{_('Destination Station')}}</span>
	          	<select name="destination_province_id" id="destination_province_id" style="width:150px">
		    	      <option value=""></option>
		    	      {% for p in MASTER_ALL('Province') %}
		    	          {% if '%s' %p.id == values.get('destination_province_id',None) %}
		    	          	<option value="{{p.id}}" selected="selected">{{p}}</option>
		    	          {% else %}
		    	          	<option value="{{p.id}}">{{p}}</option>
		    	          {% endif %}
		    	      {% endfor %}
		    	  </select> 
		    	  <select name="destination_city_id" id="destination_city_id" style="width:150px">
		    	      <option value=""></option>
		    	      {% for c in destination_cites %}
		    	          {% if '%s' %c.id == values.get('destination_city_id',None) %}
		    	          	<option value="{{c.id}}" selected="selected">{{c}}</option>
		    	          {% else %}
		    	          	<option value="{{c.id}}">{{c}}</option>
		    	          {% endif %}
		    	        {% endfor %}
		    	  </select>
          </li>
         
          <li style="width:755px"><span>{{_('Source Company')}}</span>
              <select name="source_company_id" id="source_company_id" style="width:400px">
                  <option value=""></option>
                  {% for c in customers%}
                      {% if '%s' % c.id == values.get('source_company_id',None) %}
                          <option value="{{c.id}}" selected="selected">{{c}}</option>
                      {% else %}
                          <option value="{{c.id}}">{{c}}</option>
                      {% endif %}
                  {% endfor %}
          	  </select>
          </li>
          <li><span>审核</span>
              <select name="approve" id="approve">
                  <option value=""></option>
                  {% for v,n in [('1','审核通过'),('2','审核不通过')] %}
                      {% if v == values.get('approve',None) %}
                          <option value="{{v}}" selected="selected">{{n}}</option>
                      {% else %}
                          <option value="{{v}}">{{n}}</option>
                      {% endif %}
                  {% endfor %}
              </select>
          </li>
          <li style="width:500px"><span>客户付款</span>
              <select name="paid" id="paid">
                  <option value=""></option>
                  {% for v,n in [('1','客户已付款'),('0','客户未付款')]%}
                      {% if v == values.get('paid',None)%}
                          <option value="{{v}}" selected="selected">{{n}}</option>
                      {% else %}
                          <option value="{{v}}">{{n}}</option>
                      {% endif %}
                  {% endfor %}
              </select>
          </li>
          <li><span>异常</span>
              <select name="is_exception" id="is_exception">
                  <option value=""></option>
                  {% for v,n in [('1','有异常'),('0','正常')]%}
                      {% if v == values.get('is_exception',None)%}
                          <option value="{{v}}" selected="selected">{{n}}</option>
                      {% else %}
                          <option value="{{v}}">{{n}}</option>
                      {% endif %}
                  {% endfor %}
              </select>
          </li>
          <li style="width:500px"><span>少货</span>
              <select name="is_less_qty" id="is_less_qty">
                  <option value=""></option>
                  {% for v,n in [('1','少货'),('0','正常')]%}
                      {% if v == values.get('is_less_qty',None)%}
                          <option value="{{v}}" selected="selected">{{n}}</option>
                      {% else %}
                          <option value="{{v}}">{{n}}</option>
                      {% endif %}
                  {% endfor %}
              </select>
          </li>
        </ul>
        <div class="button_div"><input type="submit" value="{{_('Search')}}"/></div>
        <input type="hidden" name="SEARCH_SUBMIT" value="TRUE"/>
        <input type="hidden" name="field" id="field" value=""/>
        <input type="hidden" name="direction" id="direction" value=""/>
    	</form>
        <div style="clear:both"></div>
    </div>
</div>

<div class="point_div"><img src="/static/images/system/order_manage_54.jpg" width="22" height="28" /><span>{{_('Input the conditions and search.')}}</span></div>




<form method="post" action="" id="records">

<table border="0" cellpadding="0" cellspacing="0"  style="width:1850px">
  	  <tr class="data_table_tr">
	    <td colspan="100" style="text-align:right">{{mymacros.mypaginate(records)}}</td>
	</tr>
  <tr class="field_head">
    <th align="center" style="width:50px;"><input type="checkbox" onclick="allselect(this);"/></th>
    <td align="center" style="width:200px;">{{mymacros.show_direction(values,'ref_no')}}{{_('Order Number')}}</td>
    <td align="center" style="width:200px;">{{mymacros.show_direction(values,'no')}}系统编号</td>
    <td align="center" style="width:150px;">送货单</td>
    <td align="center" style="width:200px;">{{mymacros.show_direction(values,'source_province_id')}}{{_('Source Station')}}</td>
    <td align="center" style="width:300px;">{{_('Source Company')}}</td>
    <td align="center" style="width:200px;">{{mymacros.show_direction(values,'destination_province_id')}}{{_('Destination Station')}}</td>
    <td align="center" style="width:300px;">{{_('Destination Company')}}</td>
    <td align="center" style="width:80px;">{{mymacros.show_direction(values,'amount')}}{{_('Amount')}}(元)</td>
    <td align="center" style="width:80px;">{{mymacros.show_direction(values,'cost')}}费用(元)</td>
    <td align="center" style="width:200px;">{{mymacros.show_direction(values,'create_time')}}{{_('Create Time')}}</td>
    <td align="center" style="width:120px;">{{mymacros.show_direction(values,'create_by_id')}}{{_('Creator')}}</td>
    <td align="center" style="width:80px;">审核</td>
    <td align="center" style="width:80px;">客户付款</td>
    <td align="center" style="width:200px;">付款予承运商</td>
    <td align="center" style="width:80px;">异常</td>
    <td align="center" style="width:80px;">少货</td>
    <td align="center" style="width:150px;">客户回单</td>
  </tr>
  
  {% for r in records.items %}
		  <tr class="data_table_tr {{ loop.cycle('data_table_tr_odd', 'data_table_tr_even') }}">
		    <th><input type="checkbox" name="order_ids" value="{{r.id}}" /></th>
		    <td><a href="{{url_for('bpOrder.view', action = 'revise',id=r.id)}}">{{r.ref_no|f('没有订单号')}}</a></td>
		    <td>{{r.no|f}}</td>
			<td>
				&nbsp;
				{% if r.deliver_header_no %}
					<a href="{{url_for('bpDeliver.view',action='view_by_no',no=r.deliver_header_no)}}">{{r.deliver_header_no}}</a>
				{%endif%}
			</td>
			<td>{{r.source_province|f}}{{r.source_city|f}}</td>
			<td>{{r.source_company.display_name|f}}</td>
			<td>{{r.destination_province|f}}{{r.destination_city|f}}</td>
			<td>{{r.destination_company|f}}</td>
			<td>{{r.amount|f}}</td>
			<td>{{r.cost|f}}</td>
			<td>{{r.create_time|ft}}</td>
			<td>{{r.create_by|f}}</td>
			<td><span class="approval_span">{{mymacros.show_approve(r.approve)}}</span></td>
			<td><span class="paid_span">{{mymacros.show_paid(r.paid)}}</span></td>
			<td><span class="supplier_paid_span">{{mymacros.show_supplier_paid(r.supplier_paid)}}</span></td>
			<td><span class="exception_span">{{mymacros.show_exception(r.is_exception)}}</span></td>
			<td><span class="lessqty_span">{{mymacros.show_lessqty(r.is_less_qty)}}</span></td>
			<td><span class="order_return_span">{{mymacros.show_return(r.is_return_note)}}</span></td>
		  </tr>
  {% endfor %}
      <tr class="data_table_tr">
      	<th>&nbsp;</th>
      	<td colspan="7" style="text-align:left">&nbsp;合计</td>
      	<td>{{records.items|sum_with_none(attribute='amount')}}</td>
      	<td>{{records.items|sum_with_none(attribute='cost')}}</td>
      	<td colspan="100">&nbsp;</td>
      </tr>
      <tfoot>
	  	 <tr class="data_table_tr">
		    <td colspan="100" style="text-align:right">{{mymacros.mypaginate(records)}}</td>
		</tr>
  	</tfoot>
</table>
<br /><br />
</form>


{% endblock %}