{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<form method="post" action="{{url_for('.view',action='deliver_save_new')}}">
	<input type="hidden" name="ids" value="{{','.join(ids)}}"/>
	
	<p>
		<input type="submit" value="保存"/>
		<input type="reset" value="重置"/>
		<input type="button" value="取消"/>
	</p>
		<table>
			<tr><td>正单号</td><td><input type="text" name="no" value=""/></td></tr>
		</table>
		
		
		<table>
			<thead>
				<tr>
					<td>订单号</td>
					<td>下单公司</td>
					<td>收货公司</td>
				</tr>
			</thead>
			<tbody>
				{% for r in orders%}
				<tr>
					<td><input type="checkbox" name="order_ids" value="{{r.id}}"/></td>
					<td>{{r.no}}</td>
					<td>{{r.source_company}}</td>
					<td>{{r.target_company}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	
{% endblock %}