{% extends "master.html" %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	$(document).ready(function(){
		bind_province_city_district("#destination_province_id","#destination_city_id","");		
	});
//]]>
</script>
{% endblock %}

{% block content %}
	<div style="background-color: #fff;padding: 10px;">
		
	<form method="post" action="{{url_for('.view',action='deliver_save_new')}}">
	<p>
		<input type="submit" value="保存"/>
		<input type="reset" value="重置"/>
		<input type="button" value="取消"/>
	</p>
		<table border="1" cellpadding="3" cellspacing="3">
			<tbody>
				<tr>
					<td width="200">{{_('3rd Party Supplier')}}</td>
					<td width="300">
						<select name="supplier_id" id="supplier_id" class="field" style="width: 200px">
							{% for s in suppliers %}
								<option value="{{s.id}}">{{s}}</option>
							{% endfor %}
							<option value="OTHER">---- {{_('Other')}} ----</option>
						</select>
					</td>
					<tr>
						<td>{{_('Deliver Number')}}</td>
						<td><input type="text" name="no" id="no" class="field" style="width: 200px"/></td>
					</tr>
				</tr>
				<tr>
					<td>{{_('Destination')}}</td>
					<td><input type="text" name="destination_address" id="destination_address" class="field" style="width: 200px"/></td>
				</tr>
				<tr>
					<td>{{_('Supplier Contact')}}</td>
					<td><input type="text" name="supplier_contact" id="supplier_contact" class="field" style="width: 200px"/></td>
				</tr>
				<tr>
					<td>{{_('Supplier Tel')}}</td>
					<td><input type="text" name="supplier_tel" id="supplier_tel" class="field" style="width: 200px"/></td>
				</tr>
				<tr>
					<td>{{_('Expect Time')}}</td>
					<td><input type="text" name="expect_time" id="expect_time" class="field" style="width: 200px"/></td>
				</tr>
				<tr>
					<td>{{_('Charge')}}</td>
					<td><input type="text" name="amount" id="amount" class="field" style="width: 200px"/></td>
				</tr>
				<tr>
					<td>{{_('Remark')}}</td>
					<td><textarea name="remark" id="remark" class="field" style="width: 200px"></textarea></td>
				</tr>
			</tbody>
		</table>
		<br />
		<br />
		
		<table border="1" cellpadding="3" cellspacing="3">
			<thead>
				<tr>
					<td>{{_('Customer')}}</td>
					<td>{{_('Order Number')}}</td>
					<td>{{_('Destination')}}</td>
					<td>{{_('Item')}}</td>
					<td>{{_('Qty')}}</td>
					<td>{{_('Weight')}}</td>
					<td>{{_('Expect Time')}}</td>
					<td>{{_('Destination Contact')}}</td>
					<td>{{_('Destination Tel')}}</td>
					<td>{{_('Remark')}}</td>
					<td>{{_('Update Time')}}</td>
					<td>{{_('Last Updator')}}</td>
				</tr>
			</thead>
			{% for d in result %}		
				<tr>
					<td>{{d.header.customer}}<input type="hidden" name="detail_{{d.id}}" value="{{d.id}}"/></td>
					<td>{{d.header.no}}</td>
					<td>{{d.destination_address|ifFalse}}</td>
					<td>{{d.item}}</td>
					<td>{{d.order_qty}}&nbsp;{{d.unit}}</td>
					<td>{{d.weight}}&nbsp;{{d.weight_unit}}</td>
					<td>{{d.expect_time|ifFalse}}</td>
					<td>{{d.destination_contact|ifFalse}}</td>
					<td>{{d.destination_tel|ifFalse}}</td>
					<td>{{d.remark|ifFalse}}</td>
					<td>{{d.update_time|ft}}</td>
					<td>{{d.update_by|ifFalse}}</td>
				</tr>
			{% endfor %}
		</table>
		<br />	
	</form>
	</div>
	
{% endblock %}