{% extends "master.html" %}

{% block extJS %}

{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
        <li><a href="{{url_for('.view',action='select_orders')}}"><img src="/static/images/system/order_manage_31.jpg" width="77" height="21" id="Image2" onmouseover="MM_swapImage('Image2','','/static/images/system/order_manage_h_31.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></li>
        <!-- 
        <li><img src="/static/images/system/order_manage_41.jpg" width="101" height="21" id="Image7" onmouseover="MM_swapImage('Image7','','/static/images/system/order_manage_h_41.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toexp();"/></li>
        <li><img src="/static/images/system/order_manage_37.jpg" width="77" height="21" id="Image5" onmouseover="MM_swapImage('Image5','','/static/images/system/order_manage_h_37.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="toprint();"/></li>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        <li><img src="/static/images/system/order_manage_35.jpg" width="94" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_35.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        <li><img src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        <li><img src="/static/images/system/order_manage_39.jpg" width="101" height="21" id="Image6" onmouseover="MM_swapImage('Image6','','/static/images/system/order_manage_h_39.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        -->
        <li style="padding:0px; margin:0px 55px 0px 0px; float:right"><a href="{{url_for('bpAuth.logout')}}"><img src="/static/images/system/order_manage_22.jpg" width="56" height="29" /></a></li>
    </ul>
</div>
{% endblock %}


{% block content %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td class="title_fonts_display">&middot; 送货单管理</td></tr>
</table>
<div class="search_div">
	<div class="search_div_header">送货单搜索</div>
    <div class="search_div_body">
    	<form action="{{url_for('.view')}}" method="post">
    	<ul>
          <li style="width:100%; border-right:#E2FEFE 1px solid;"><span>起始日期</span>
        	  <input type="text" class="datepicker" name="create_time_from" value="{{values.get('create_time_from','')|f}}"/>&nbsp;&nbsp;-&nbsp;&nbsp;<input type="text" class="datepicker" name="create_time_to" value="{{values.get('create_time_to','')|f}}"/>
          </li>
          <li><span>{{_('Deliver Number')}}</span><input type="text" name="no" value="{{values.get('no','')|f}}"/></li>
          <li><span>{{_('Destination Address')}}</span><input type="text" name="destination_address" value="{{values.get('destination_address','')|f}}"/></li>
          <li><span>{{_('Supplier')}}</span>
          	  <select name="supplier_id" id="supplier_id">
          	      <option value=""></option>
          	      {% for s in suppliers %}
          	          {% if '%s' %s.id == values.get('supplier_id',None) %}
          	              <option value="{{s.id}}" selected="selected">{{s}}</option>
          	          {% else %}
          	              <option value="{{s.id}}">{{s}}</option>
          	          {% endif %}
          	      {% endfor %}
          	  </select>    
          </li>
    
        </ul>
        <div class="button_div"><input type="submit" value="{{_('Search')}}"/></div>
    	</form>
        <div style="clear:both"></div>
    </div>
</div>

<div class="point_div"><img src="/static/images/system/order_manage_54.jpg" width="22" height="28" /><span>{{_('Input the conditions and search.')}}</span></div>





	<table border="1" cellpadding="3" cellspacing="3">
		<thead>
			<tr class="field_head">
				<th>{{_('Deliver Number')}}</th>
				<th>{{_('Destination')}}</th>
				<th>{{_('3rd Party Supplier')}}</th>
				<th>{{_('Supplier Contact')}}</th>
				<th>{{_('Supplier Tel')}}</th>
				<th>{{_('Create Time')}}</th>
				<th>{{_('Creator')}}</th>
				<th>{{_('Update Time')}}</th>
				<th>{{_('Last Updator')}}</th>
				<th>{{_('Order Status')}}</th>
				<th>{{_('Action')}}</th>
			</tr>
			{% for r in result%}
			<tr class="data_table_tr {{ loop.cycle('data_table_tr_odd', 'data_table_tr_even') }}">
				<td>{{r.no}}</td>
				<td>{{r.destination_address|ifFalse}}</td>
				<td>{{r.supplier}}</td>
				<td>{{r.supplier_contact}}</td>
				<td>{{r.supplier_tel}}</td>
				<td>{{r.create_time|ft}}</td>
				<td>{{r.create_by|ifFalse}}</td>
				<td>{{r.update_time|ft}}</td>
				<td>{{r.update_by|ifFalse}}</td>
				<td>{{r.status|showStatus}}</td>
				<td><a href="{{url_for('.view', action = 'view',id=r.id)}}">{{_('Review')}}</a> | <a href="{{url_for('.view', action = 'revise',id=r.id)}}">{{_('Revise')}}</a> | <a href="{{url_for('.view', action = 'delete',id=r.id)}}">{{_('Delete')}}</a></td>
			</tr>
			{% endfor %}
		</thead>
	</table>

{% endblock %}