{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<p><a href="{{url_for('.view', action = 'select_orders')}}">新增送货单</a></p>
	
	<table border="1" cellpadding="3" cellspacing="3">
		<thead>
			<tr>
				<td>{{_('Deliver Number')}}</td>
				<td>{{_('Destination')}}</td>
				<td>{{_('3rd Party Supplier')}}</td>
				<td>{{_('Supplier Contact')}}</td>
				<td>{{_('Supplier Tel')}}</td>
				<td>{{_('Create Time')}}</td>
				<td>{{_('Creator')}}</td>
				<td>{{_('Update Time')}}</td>
				<td>{{_('Last Updator')}}</td>
				<td>{{_('Order Status')}}</td>
				<td>{{_('Action')}}</td>
			</tr>
			{% for r in result%}
			<tr>
				<td>{{r.no}}</td>
				<td>{{r.destination_address}}</td>
				<td>{{r.Supplier}}</td>
				<td>{{r.supplier_contact}}</td>
				<td>{{r.supplier_tel}}</td>
				<td>{{r.create_time|ft}}</td>
				<td>{{r.create_by|ifFalse}}</td>
				<td>{{r.update_time|ft}}</td>
				<td>{{r.update_by|ifFalse}}</td>
				<td>{{r.status|showStatus}}</td>
				<td><a href="{{url_for('.view', action = 'view',id=r.id)}}">{{_('Review')}}</a> | <a href="{{url_for('.view', action = 'revise',id=r.id)}}">{{_('Revise')}}</a> | <a href="{{url_for('.view', action = 'delete',id=r.id)}}">{{_('Delete')}}</a></td>
			</tr>
			{% endfor %}
		</thead>
	</table>

{% endblock %}