{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<form method="post" action="{{url_for('.view',action='deliver_save_revise')}}">
		<input type="hidden" name="id" value="{{values.get('id','')}}"/> 
	
	
	<p>
		<input type="submit" value="保存"/>
		<input type="reset" value="重置"/>
		<input type="button" value="取消"/>
	</p>
		<table border="1" cellpadding="3" cellspacing="3">
			<tbody>
				<tr>
					<td>{{_('3rd Party Supplier')}}</td>
					<td>
						<select name="supplier_id" id="supplier_id">
							{% for s in suppliers %}
								{% if s.id==values.get('supplier_id',None) %}
									<option value="{{s.id}}" selected="selected">{{s}}</option>
								{%else%}
									<option value="{{s.id}}">{{s}}</option>
								{%endif%}
							{% endfor %}
							<option value="OTHER">---- {{_('Other')}} ----</option>
						</select>
					</td>
					<tr>
						<td>{{_('Deliver Number')}}</td>
						<td><input type="text" name="no" id="no" value="{{values.get('no','')}}"/></td>
					</tr>
				</tr>
				<tr>
					<td>{{_('Destination')}}</td>
					<td><input type="text" name="destination_address" id="destination_address" value="{{values.get('destination_address','')}}"/></td>
				</tr>
				<tr>
					<td>{{_('Supplier Contact')}}</td>
					<td><input type="text" name="supplier_contact" id="supplier_contact" value="{{values.get('supplier_contact','')}}"/></td>
				</tr>
				<tr>
					<td>{{_('Supplier Tel')}}</td>
					<td><input type="text" name="supplier_tel" id="supplier_tel" value="{{values.get('supplier_tel','')|ifFalse}}"/></td>
				</tr>
				<tr>
					<td>{{_('Expect Time')}}</td>
					<td><input type="text" name="expect_time" id="expect_time" value="{{values.get('expect_time','')|ifFalse}}"/></td>
				</tr>
				<tr>
					<td>{{_('Remark')}}</td>
					<td><textarea name="remark" id="remark">{{values.get('remark','')|ifFalse}}</textarea></td>
				</tr>
			</tbody>
		</table>
		<br />
		<br />
		
		<table border="1" cellpadding="3" cellspacing="3">
			<thead>
				<tr>
					<td>{{_('Customer')}}</td>
					<td>{{_('Order Number')}}</td>
					<td>{{_('Destination')}}</td>
					<td>{{_('Item')}}</td>
					<td>{{_('Qty')}}</td>
					<td>{{_('Weight')}}</td>
					<td>{{_('Expect Time')}}</td>
					<td>{{_('Destination Contact')}}</td>
					<td>{{_('Destination Tel')}}</td>
					<td>{{_('Remark')}}</td>
					<td>{{_('Create Time')}}</td>
					<td>{{_('Creator')}}</td>
					<td>{{_('Update Time')}}</td>
					<td>{{_('Last Updator')}}</td>
				</tr>
			</thead>
			{% for d in details %}		
				<tr>
					<td>{{d.order_detail.header.customer}}<input type="hidden" name="detail_{{d.id}}" value="{{d.id}}"/></td>
					<td>{{d.order_detail.header.no}}</td>
					<td>{{d.order_detail.destination_address}}</td>
					<td>{{d.order_detail.item}}</td>
					<td>{{d.order_detail.order_qty}}&nbsp;{{d.unit}}</td>
					<td>{{d.order_detail.weight}}&nbsp;{{d.weight_unit}}</td>
					<td>{{d.order_detail.expect_time|ifFalse}}</td>
					<td>{{d.order_detail.destination_contact|ifFalse}}</td>
					<td>{{d.order_detail.destination_tel|ifFalse}}</td>
					<td>{{d.remark|ifFalse}}</td>
					<td>{{d.update_time|ft}}</td>
					<td>{{d.create_by|ifFalse}}</td>
					<td>{{d.update_time|ft}}</td>
					<td>{{d.update_by|ifFalse}}</td>
				</tr>
			{% endfor %}
		</table>
		<br />	
	</form>
	
{% endblock %}