{% extends "master.html" %}

{% block extJS %}
<script src="{{url_for('static', filename='js/customer/deliver_select_orders.js')}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div style="background-color: #fff;padding: 10px;">
		
	<form method="post" action="{{url_for('.view',action='add_deliver')}}">
	<p>
		<input type="submit" value="{{_('New Delivery')}}"/>
	</p>
	<table border="1" cellpadding="3" cellspacing="3">
		<thead>
			<tr>
				<td><input type="checkbox" onclick=""/></td>
				<td>{{_('Order Number')}}</td>
				<td>{{_('Customer')}}</td>
				<td>{{_('Source Station')}}</td>
				<td>{{_('Destination Station')}}</td>
				<td>{{_('Item')}}</td>
				<td>{{_('Qty')}}</td>
				<td>{{_('Vol')}}</td>
				<td>{{_('Weight')}}</td>
				<td>{{_('Expect Time')}}</td>
				<td>{{_('Destination Contact')}}</td>
				<td>{{_('Destination Tel')}}</td>
			</tr>
			{% for r in result%}
			<tr>
				<td>
					{% if r.id in session.get('deliver_order_ids',{})%}
						<input type="checkbox" name="order_ids" value="{{r.id}}" checked="checked" onclick="check_ids({{r.id}},this)"/>
					{% else %}
						<input type="checkbox" name="order_ids" value="{{r.id}}" onclick="check_ids({{r.id}},this)"/>
					{% endif %}
				</td>
				<td>{{r.no|f}}</td>
				<td>{{r.customer|f}}</td>
				<td>{{r.dsource_station|f}}</td>
				<td>{{r.destination_station|f}}</td>
				<td>{{r.item|f}}</td>
				<td>{{r.qty|f}}</td>
				<td>{{r.vol|f}}</td>
				<td>{{r.weight|f}}</td>
				<td>{{r.expect_time|f}}</td>
				<td>{{r.destination_contact|f}}</td>
				<td>{{r.destination_tel|f}}</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
	</form>
	</div>
	
{% endblock %}