{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<div style="background-color: #fff;padding: 10px;">
		
	<form method="post" action="{{url_for('.view',action='add_deliver')}}">
	<p>
		<input type="submit" value="{{_('New Delivery')}}"/>
	</p>
	<table border="1" cellpadding="3" cellspacing="3">
		<thead>
			<tr>
				<td><input type="checkbox" onclick=""/></td>
				<td>{{_('Order Number')}}</td>
				<td>{{_('Customer')}}</td>
				<td>{{_('Source Station')}}</td>
				<td>{{_('Destination Station')}}</td>
				<td>{{_('Item')}}</td>
				<td>{{_('Qty')}}</td>
				<td>{{_('Vol')}}</td>
				<td>{{_('Weight')}}</td>
				<td>{{_('Expect Time')}}</td>
				<td>{{_('Destination Contact')}}</td>
				<td>{{_('Destination Tel')}}</td>
			</tr>
			{% for r in result%}
			<tr>
				<td><input type="checkbox" name="order_detail_ids" value="{{r.id}}"/></td>
				<td>{{r.no}}</td>
				<td>{{r.customer}}</td>
				<td>{{r.dsource_station|ifFalse}}</td>
				<td>{{r.destination_station|ifFalse}}</td>
				<td>{{r.item|ifFalse}}</td>
				<td>{{r.qty}}</td>
				<td>{{r.vol}}</td>
				<td>{{r.weight}}&nbsp;{{r.weight_unit}}</td>
				<td>{{r.expect_time|ifFalse}}</td>
				<td>{{r.destination_contact|ifFalse}}</td>
				<td>{{r.destination_tel|ifFalse}}</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
	</form>
	</div>
	
{% endblock %}