{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<div style="background-color: #fff;padding: 10px;">
		
	<ul>
		<li><a href="{{url_for('.view', action = 'revise')}}">{{_('Revise')}}</a></li>
		<li><a href="{{url_for('.view', action = 'cancel')}}">{{_('Cancel')}}</a></li>
		<li><a href="{{url_for('.view')}}">{{_('Return')}}</a></li>
	</ul>	
	
	<table border="1" cellpadding="5" cellspacing="5">
		<tr>
			<td width="200">{{_('3rd Party Supplier')}}</td>
			<td width="200">{{values.get('supplier','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Deliver Number')}}</td>
			<td>{{values.get('no','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Destination')}}</td>
			<td>{{values.get('destination_address','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Supplier Contact')}}</td>
			<td>{{values.get('supplier_contact','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Supplier Tel')}}</td>
			<td>{{values.get('supplier_tel','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Expect Time')}}</td>
			<td>{{values.get('expect_time','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Remark')}}</td>
			<td>{{values.get('remark','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Create Time')}}</td>
			<td>{{values.get('create_time','')|ft}}</td>
		</tr>
		<tr>
			<td>{{_('Creator')}}</td>
			<td>{{values.get('create_by','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Update Time')}}</td>
			<td>{{values.get('update_time','')|ft}}</td>
		</tr>
		<tr>
			<td>{{_('Last Updator')}}</td>
			<td>{{values.get('update_by','')|ifFalse}}</td>
		</tr>
		<tr>
			<td>{{_('Status')}}</td>
			<td>{{values.get('status','')|showStatus}}</td>
		</tr>
	</table>
	<br />
	<table border="1" cellpadding="5" cellspacing="5">
		<thead>
			<tr>
				<td>{{_('Customer')}}</td>
				<td>{{_('Order Number')}}</td>
				<td>{{_('Destination')}}</td>
				<td>{{_('Item')}}</td>
				<td>{{_('Qty')}}</td>
				<td>{{_('Weight')}}</td>
				<td>{{_('Expect Time')}}</td>
				<td>{{_('Destination Contact')}}</td>
				<td>{{_('Destination Tel')}}</td>
				<td>{{_('Remark')}}</td>
				<td>{{_('Update Time')}}</td>
				<td>{{_('Last Updator')}}</td>
			</tr>
		</thead>
		{% for d in details %}
			<tr>
				<td>{{d.order_header.customer}}</td>
				<td>{{d.order_header.no}}</td>
				<td>{{d.order_header.destination_address}}</td>
				<td>{{d.order_header.item}}</td>
				<td>{{d.order_header.qty}}</td>
				<td>{{d.order_header.weight}}</td>
				<td>{{d.order_header.expect_time|ifFalse}}</td>
				<td>{{d.order_header.destination_contact}}</td>
				<td>{{d.order_header.destination_tel}}</td>
				<td>{{d.order_header.remark|ifFalse}}</td>
				<td>{{d.order_header.update_time|ft}}</td>
				<td>{{d.order_header.update_by|ifFalse}}</td>
			</tr>
		{% endfor %}
	</table>
	
	<br />
	
	{% if values.get('status','') in [ORDER_NEW[0],]%}
		<p>确认发货</p>
		<form action="{{url_for('.view', action = 'do_action',id=values.get('id',''),sc='SEND_OUT')}}" method="post">
			<table>
				<tr>
					<td>{{_('Remark')}}</td>
					<td><textarea name="send_out_remark"></textarea></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="{{_('Submit')}}"/></td>
				</tr>
			</table>
		</form>
	{% endif %}
	
	{% if header.status in [SEND_OUT[0],]%}
		<p>确认货物到达</p>
		<form action="{{url_for('.view', action = 'do_action',id=values.get('id',''),sc='GOODS_ARRIVED')}}" method="post">
			<table>
				<tr>
					<td>{{_('Arrival Time')}}</td>
					<td><input type="text" name="actual_time" /></td>
				</tr>
				<tr>
					<td>{{_('Remark')}}</td>
					<td><textarea name="arrived_remark"></textarea></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="{{_('Submit')}}"/></td>
				</tr>
			</table>
		</form>
	{% endif %}
	</div>
	
{% endblock %}