{% extends "master.html" %}

{% block subtitle %} - 新建入库单{% endblock %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	$(document).ready(function(){    
	    $( "#dialog-form" ).dialog({
	        modal: true,
	        height: 350,
	        width:500,
	        autoOpen: false
	    });
	
	});
	
	
	function tosave(){
		var msg = new Array();
		if(!$("#customer_id").val()){
			msg.push("请选择客户！");
		}
		
		if(item_array.length<1){
			msg.push("请添加至少一个货物！");
		}
		
		if(msg.length>0){
		    var s = "<ul>";
		    for(var i=0;i<msg.length;i++){
		    	s += "<li>" + msg[i] + "</li>";
		    }
		    s += "</ul>";
			show_error(s);
		}else{
			show_hold('正在保存，请稍候。。。');
			$("#item_json").val(JSON.stringify(item_array));
			$("form").submit();
		}
	}
	
	function toreturn(){
			return redirect_alert("{{MSG_LEAVE_WITHOUT_SAVING}}","{{request.referrer}}");
	}	
	
	
	var item_array = new Array();
//]]>
</script>
<script src="{{url_for('static', filename='js/customer/note_add.js')}}" type="text/javascript"></script>
{% endblock %}

{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toreturn();"/></li>
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
        {% if 'CREATE_WAREHOUSE' is get_permission%}
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
<div class="order_add_div">
	<div class="order_add_div_body">	
	<form action="{{url_for('.view',action='in_note_save_new')}}" method="post">
		<input type="hidden" id="item_json" name="item_json" value=""/>
		<table>
			<tr>
				<td width="150" height="30" align="right">客户</td>
				<td width="12">&nbsp;</td>
				<td>{{mymacros.select(id='customer_id',list=MASTER_ALL('Customer'),value=None,class="must_input",style="width:360px")}}</td>
			</tr>	
			<tr><td height="30" align="right">客户销售单号(SO)</td><td>&nbsp;</td><td><input type="text" style="width:360px" name="so" /></td></tr>
			<tr><td height="30" align="right">客户采购单号(PO)</td><td>&nbsp;</td><td><input type="text" style="width:360px" name="po" /></td></tr>
			<tr><td height="30" align="right">客户送货单号(DN)</td><td>&nbsp;</td><td><input type="text" style="width:360px" name="dn"/></td></tr>
			<tr><td height="30" align="right">客户参考(REF)</td><td>&nbsp;</td><td><input type="text" style="width:360px" name="ref"/></td></tr>
			<tr><td height="30" align="right">备注</td><td>&nbsp;</td><td><textarea name="remark" style="width:360px"></textarea></td></tr>
		</table>
		
		<br />
		<br />
		
		<div id="item_details">
		  <p><input type="button" value="{{_('Add')}}" onclick="add_item()"/></p>
		</div>
		<br />
		<table style="width:950px;">
			<thead>
				<tr class="field_head">
					<th style="width:150px">{{_('Item Name')}}</th>
					<th style="width:80px">描述</th>
					<th style="width:150px">仓位</th>
					<th style="width:80px">{{_('Qty')}}(件)</th>
					<th style="width:80px">{{_('Weight')}}(吨)</th>
					<th style="width:80px">平方(米<sup>2</sup>)</th>
					<th style="width:200px">{{_('Remark')}}</th>
					<th style="width:150px">操作</th>
				</tr>
			</thead>
			<tbody id="item_list">
			</tbody>
		</table>
		<br />
		<br />
	</form>






<!-- order items begin -->

<div id="dialog-form" title="货物信息" style="background-color:white;">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top" width="100px" align="center"><sup class="warn">*</sup>&nbsp;{{_('Item Name')}}</td><td valign="top">
				<select id="item_id" class="must_input" style="width:300px;">
			          <option value="">--- 新货物 ---</option>
			          {% for o in MASTER_ALL('InventoryItem')%}
			              <option value="{{o.id}}">{{o}}</option>
			          {% endfor %}
			      </select>	
			</td>
		</tr>	    
		<tr id="new_item_tr"><td valign="top" width="70px" align="center">新货物名称</td><td valign="top"><input type="text" id="new_item_name" value="" class="order_add_div_body_input" style="width:300px;"></td></tr>
		<tr><td valign="top" align="center">描述</td><td valign="top"><textarea id="item_desc" style="width:300px;"></textarea></td></tr>
		<tr><td valign="top" align="center">仓位</td><td valign="top">
		   	{{mymacros.location_select(id='location_id',list=locations,value=None,class="must_input",style="width:300px;")}}
		</td></tr>
		<tr><td valign="top" align="center">{{_('Qty')}}(件)</td><td valign="top"><input type="text" id="item_qty" value="" class="order_add_div_body_input numeric" style="width:300px;"></td></tr>
		<tr><td valign="top" align="center">{{_('Weight')}}(吨)</td><td valign="top"><input type="text" id="item_weight" value="" class="order_add_div_body_input numeric" style="width:300px;"></td></tr>
		<tr><td valign="top" align="center">平方(米<sup>2</sup>)</td><td valign="top"><input type="text" id="item_area" value="" class="order_add_div_body_input numeric" style="width:300px;"></td></tr>
		<tr><td valign="top" align="center">{{_('Remark')}}</td><td valign="top"><textarea id="item_remark" style="width:300px;"></textarea></td></tr>
		</tr>
	</table>
	<br />
	<p style="text-align:right;"><input type="button" value="保存" onclick="save_item()"/>&nbsp;<input type="button" value="取消" onclick="cancel_item()"/></p>
</div>

	</div>
</div>
	
{% endblock %}