{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	
	<!-- 
	<ul>
		<li><a href="{{url_for('bpRoot.view', action = 'add')}}">客人新建订单</a></li>
		<li><a href="{{url_for('bpRoot.view', action = 'track')}}">订单追踪</a></li>
		<li><a href="{{url_for('bpMaster.view', action = 'index',type='customer')}}">发货信息设置</a></li>
		<li><a href="{{url_for('bpMaster.view', action = 'index',type='vendor')}}">收货信息设置</a></li>
		<li><a href="{{url_for('bpMaster.view', action = 'index',type='item')}}">货物信息设置</a></li>
	</ul>
	
		
	<ul>
		<li><a href="{{url_for('bpOrder.view', action = 'index')}}">客服首页</a></li>
		<li><a href="{{url_for('bpOrder.view', action = 'add')}}">客服订单管理</a></li>
		<li><a href="{{url_for('bpDeliver.view', action = 'index')}}">客服送货单管理</a></li>
	</ul>
	 -->
	
	<ul>
		
		<li><a href="{{url_for('bpOrder.view', action = 'index')}}">订单管理</a></li>
		
		<li><a href="{{url_for('bpOrder.view', action = 'search_by_customer')}}">客人订单追踪</a></li>
	</ul>
	<ul>
		<li><a href="{{url_for('bpDeliver.view', action = 'select_orders')}}">分拣</a></li>
		<li><a href="{{url_for('bpDeliver.view', action = 'index')}}">送货单管理</a></li>
		<li><a href="{{url_for('bpDeliver.view', action = 'vendor_select')}}">承运商录入</a></li>
	</ul>
	<ul>
		<li><a href="{{url_for('bpWarehouse.view', action = 'index')}}">仓存管理</a></li>
	</ul>
	
	<ul>
		<li><a href="{{url_for('bpAdmin.view')}}">管理员</a></li>
		<li>
			<ul>
				<li><a href="{{url_for('bpAdmin.view', action = 'user')}}">管理用户</a></li>
				<li><a href="{{url_for('bpAdmin.view', action = 'group')}}">管理组</a></li>
				<li><a href="{{url_for('bpAdmin.view', action = 'permission')}}">管理权限</a></li>
			</ul>
		</li>
	</ul>

{% endblock %}