<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{'Login'}}</title>
<link href="{{url_for('static', filename='css/common_style.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('static', filename='css/system_style.css')}}" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background-image: url(/static/images/system/index_04.jpg);
	background-repeat: repeat-x;
	background-color:#39565e;
}
.input_login{
	background:url(/static/images/system/input_login.png) no-repeat scroll transparent;
    border:none;
    font-family: "微软雅黑";
    font-size: 18px;
    height: 35px;
    /*text-indent: 15px;*/
    width: 216px;
	padding:0px 0px 0px 10px
}

</style>
</head>

<body>
<form action="{{url_for('bpAuth.check')}}" method="post">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="/static/images/system/index_01.jpg" width="474" height="85" /></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="407" align="left" valign="top"><img src="/static/images/system/index_05.jpg" width="407" height="308" /></td>
        <td align="left" valign="top"><table width="523" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="124" class="point_login_td">
            	<h2>{% for category,message in get_flashed_messages(with_categories=true) %}
            		{{message}}&nbsp;
            	{% endfor %}
            	</h2>
            </td>
          </tr>
          <tr>
            <td height="319" background="/static/images/system/index_08.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="230">&nbsp;</td>
                <td height="30">用户名：</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="text" name="name" class="input_login" id="name"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="30">密&nbsp;&nbsp;码：</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="password" name="password" class="input_login"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70"><img src="/static/images/system/index_08_03.jpg" width="49" height="51" /></td>
                    <td><input type="image" src="/static/images/system/index_08_06.jpg" width="77" height="21" /></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</form>
</body>
</html>