{% macro show_direction(values,f) -%}
    {%if values.get('field',None) == f: %}
		{%if values.get('direction',None) == 'desc' %}
			<a href="#" onclick="toSort('{{f}}','asc')"><img src="/static/images/system/down.png"/></a>
		{%else %}
			<a href="#" onclick="toSort('{{f}}','desc')"><img src="/static/images/system/up.png"/></a>
		{%endif%}
	{% else %}
		<a href="#" onclick="toSort('{{f}}','desc')"><img src="/static/images/system/updown.gif"/></a>
	{% endif %}
{%- endmacro %}



{% macro show_approve(value) -%}
	{% if value == 0 %}
		未审核
	{% elif value == 1 %}
		通过
	{% elif value == 2 %}
		不通过
	{% endif %}
{%- endmacro %}


{% macro show_paid(value) -%}
	{% if value == 0 %}
		未付
	{% elif value == 1 %}
		已付
	{% endif %}
{%- endmacro %}


{% macro show_supplier_paid(value) -%}
	{% if value == 0 %}
		未付
	{% elif value == 1 %}
		已付
	{% endif %}
{%- endmacro %}


{% macro show_exception(value) -%}
	{% if value %}
		是
	{% endif %}
{%- endmacro %}



{% macro show_less_qty(value) -%}
	{% if value %}
		是
	{% endif %}
{%- endmacro %}




{% macro show_return(value) -%}
	{% if value == 0 %}
		未返
	{% else %}
		已返
	{% endif %}
{%- endmacro %}


{% macro show_exception(value) -%}
	{% if value == 0 %}
		否
	{% else %}
		是
	{% endif %}
{%- endmacro %}



{% macro show_lessqty(value) -%}
	{% if value == 0 %}
		否
	{% else %}
		是
	{% endif %}
{%- endmacro %}


{% macro show_discount(value) -%}
	{% if value == 0 %}
		未返
	{% else %}
		已返
	{% endif %}
{%- endmacro %}


{% macro mypaginate(records) -%}
	{{records.pager(format='$link_first $link_previous ~3~ $link_next $link_last, 共计 $item_count 条记录',
					show_if_single_page=True,
					symbol_first='第一页',
					symbol_last='最后一页',
					symbol_previous='上一页',
					symbol_next='下一页')}}
{%- endmacro %}


{% macro select(id,list,value,class='',style='',blank_option=true) -%}
	<select name="{{id}}" id="{{id}}" class="{{class}}" style="{{style}}">
		{% if blank_option %}
          <option value=""></option>
        {% endif %}
          {% for o in list%}
              {% if o.id == value%}
                  <option value="{{o.id}}" selected="selected">{{o}}</option>
              {% else %}
                  <option value="{{o.id}}">{{o}}</option>
              {% endif %}
          {% endfor %}
      </select>
{%- endmacro %}



{% macro location_option(location_list,value,space=0) -%}
	{% for l in location_list %}
		{% if l.id == value %}
			<option value="{{l.id}}" selected="selected">{{'-' * space}}{{l.full_path}}</option>
		{% else %}
			<option value="{{l.id}}">{{('-' * space)|safe}}{{l.full_path}}</option>
		{% endif %}
		{{location_option(l.children,value,space+2)}}
	{% endfor %}
{%- endmacro %}



{% macro location_select(id,list,value,class='',style='',blank_option=true) -%}
	<select name="{{id}}" id="{{id}}" class="{{class}}" style="{{style}}">
		{% if blank_option %}
          <option value=""></option>
        {% endif %}
        {{location_option(list,value,0)}}
	</select>
{%- endmacro %}


