{% extends "master.html" %}
{% block subtitle %} - 控制台{% endblock %}

{% block extJS %}

<script language="JavaScript" type="text/javascript">
//<![CDATA[
	function append(id,l){
		var e = $(id);
		
		var html = '';
		
		for(var i=0;i<l.list.length;i++){
		   var tmp = l.list[i];
		   html += '<li class="level_two item_line"><a href="/order/review?id='+tmp.id+'">'+tmp.ref_no+'</a></li>';
		}
		$(id+'_count').text(l.count);
		e.after(html);
	}
	
	
	function refreshToDoList(){
		$.getJSON('/order/ajax_todo_list',
				  {'t' : nowstr()},
				  function(r){
				      if(r.result != 0){ return; }
				      
				      $('.item_line').remove();
				      append('#order_draft',r.data.order_draft);
				      append('#orders_new',r.data.orders_new);
				      append('#order_receiver',r.data.order_receiver);
				      append('#order_inhouse',r.data.order_inhouse);
				      append('#order_sorted',r.data.order_sorted);
				  }
		);
	}

	setInterval(refreshToDoList,1000*60*5); //5min
	

	$(document).ready(function(){
		refreshToDoList();
	})
//]]>
</script>
{% endblock %}

{% block content %}
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td width="220" class="main_left_td" valign="top">
    <div class="todo_list_header">
    <img width="220" height="31" src="/static/images/system/main_page_03.jpg"></div>
      <div class="todo_list_div">
        <div>
        	<ul>
           	  <li class="level_one" id="order_draft">条码新增订单(<span id="order_draft_count">0</span>)</li>
            </ul>
        </div>
        <div>
        	<ul>
           	  <li class="level_one" id="orders_new">需要指派收件人(<span id="orders_new_count">0</span>)</li>               
            </ul>
        </div>
        <div>
			<ul>
            	<li class="level_one" id="order_receiver">等待入仓(<span id="order_receiver_count">0</span>)</li>
            </ul>
        </div>
        <div>
			<ul>
            	<li class="level_one" id="order_inhouse">等待分拣(<span id="order_inhouse_count">0</span>)</li>
            </ul>
        </div>
        <div>
			<ul>
            	<li class="level_one" id="order_sorted">等待出仓(<span id="order_sorted_count">0</span>)</li>
            </ul>
        </div>
    </div></td>

     <td valign="top" class="main_right_td">
     
      {% if 'MANAGE_ORDER' is get_permission%}
      <div class="nav_tab" onclick="redirect('{{url_for('bpOrder.view')}}')">
      	<div class="header_div"></div>
      	<div class="body_div"><img width="80" height="80" src="/static/images/system/img_so.jpg"><span>订单管理</span>
      		<p>关于订单管理的一些说明。说明订单管理功能的用法与注意事项。</p>
      	</div>
      </div>
      {% endif %}
      
      {% if 'MANAGE_DELIVER' is get_permission%}
      <div class="nav_tab" onclick="redirect('{{url_for('bpDeliver.view')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_po.jpg"><span>配送管理</span>
          <p>关于送货单管理的一些说明。说明送货单管理功能的用法与注意事项。</p>
        </div>
      </div>
      {% endif %}
      
      
      {% if 'MANAGE_FIN' is get_permission%}
      <div class="nav_tab" onclick="redirect('{{url_for('bpFin.view')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_cm.jpg"><span>财务管理</span>
          <p>关于财务管理的一些说明。说明财务管理功能的用法与注意事项。</p>
        </div>
      </div>
   	  {% endif %}
   	  
      <div class="nav_tab" onclick="redirect('{{url_for('bpInventory.view')}}')">
        <div class="header_div"></div>
        <div class="body_div"><img width="80" height="80" src="/static/images/system/img_cm.jpg"><span>仓储管理</span>
          <p>关于仓储管理的一些说明。说明仓储管理功能的用法与注意事项。</p>
        </div>
      </div>
   	  {% if 'MANAGE_FIN' is get_permission%}
   	  {% endif %}
     
  </tr>
</tbody></table>

{% endblock %}