<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block keyword %}
		<meta content="" name="Keywords" /> 
	{% endblock %}
	
	<title>{% block title %}{{_("Logistics Management")}}{% block subtitle %}{% endblock %}{% endblock %}</title>
	
	<link href="{{url_for('static', filename='css/modaldialog/jquery.modaldialog.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('static', filename='css/jquery-ui-1.8.21.custom.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('static', filename='css/common_style.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('static', filename='css/system_style.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('static', filename='css/extra.css')}}" rel="stylesheet" type="text/css" />

	{% block extCSS %}{% endblock %}

	<script src="{{url_for('static', filename='js/jquery-1.7.1.min.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/jquery-ui-1.8.21.custom.min.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/numeric.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/modaldialog/jquery.modaldialog.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/common.js')}}" type="text/javascript"></script>
	
		
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
    	$(document).ready(function(){
			{% for category,message in get_flashed_messages(with_categories=true) %}
				{% if category == 'INFO'%}
					$.modaldialog.success('{{message}}');
				{% elif category == 'ERROR' %}
					$.modaldialog.error('{{message}}');
				{% endif %}
			{% endfor %}
			
			
			//init the datepicker
			$('.datepicker').datepicker({
					inline: true,
					dateFormat: "yy-mm-dd" 
			});
			//init the numeric
			$(".numeric").numeric();
		});
    //]]>
   </script>

	{% block extJS %}{% endblock %}
</head>

<body>
	<div id="container">
		{% block header %}
			<!-- header Here -->
			<div id="header" class="top_header_div">
			  <div class="top_logo"></div>
			  <div class="top_system_right"></div>
			  <div style="clear:both"></div>
			</div>
		{% endblock %}
			
		
		{% block menu %}
			<div class="main_menu">
			  <table width="100%" border="0" cellpadding="0" cellspacing="0">
			    <tr>
			      <td width="50" height="27" background="/static/images/system/order_manage_06.jpg"><img src="/static/images/system/order_manage_06.jpg" width="30" height="27" /></td>
			      <td class="gap1"></td>
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_ORDER' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpOrder.view')}}')">{{_('Order Management')}}</td>
			      <td class="gap2"></td>
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_DELIVER' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpDeliver.view')}}')">{{_('Deliver Management')}}</td>
			      <td class="gap2"></td>
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_CUSTOMER' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpAdmin.view',action='customer')}}')">{{_('Customer Management')}}</td>
			      <td class="gap2"></td>
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_SUPPLIER' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpAdmin.view',action='supplier')}}')">{{_('Supplier Management')}}</td>
			      <td class="gap2"></td>
			      
			      {% if 'ADMIN' is in_group%}
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_USER' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpAdmin.view',action='user')}}')">{{_('User Management')}}</td>
			      <td class="gap2"></td>
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_GROUP' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpAdmin.view',action='group')}}')">{{_('Group Management')}}</td>
			      <td class="gap2"></td>
			      <td class="{{ 'bt_highlight_fix' if session.get('tab-highlight','') == 'TAB_PERMISSION' else 'bt_normal'}}" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)" onclick="redirect('{{url_for('bpAdmin.view',action='permission')}}')">{{_('Permission Management')}}</td>
			      <td class="gap2"></td>
			      {% endif %}
			      
			      <!-- 
			      <td class="bt_normal" onmouseover="menu_move_over(this)" onmouseout="menu_move_out(this)"><a href="{{url_for('bpOrder.view')}}">客户关系管理</a></td>
			      <td class="gap2"></td>
			      -->
			      <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
			        <tr>
			          <td style="padding:0px; margin:0px">&nbsp;</td>
			          <td width="30" style="padding:0px; margin:0px"><img src="/static/images/system/order_manage_14.jpg" width="20" height="27" /></td>
			          <td width="230" class="user_display">{{session['user_profile']['name']}}</td>
			        </tr>
			      </table></td>
			    </tr>
			  </table>
			</div>
		{% endblock %}
		
		{% block inner_menu %}
			<div class="inner_menu">
				<ul><li style="padding:0px; margin:0px 55px 0px 0px; float:right"><a href="{{url_for('bpAuth.logout')}}"><img src="/static/images/system/order_manage_22.jpg" width="56" height="29" /></a></li></ul>
			</div>
		{% endblock %}
		
		{% block main %}
			<div id="main">
				<div id="main_content">
					{% block content %}
					<!-- Main Content Here -->
					{% endblock %}
				</div>
			</div>
		{% endblock %}
		
		{% block footer %}
			<div id="footer">
				<!-- footer Here -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>&nbsp;</td></tr><tr><td bgcolor="#39565e" style="color:#FFF; font-family:Arial, Helvetica, sans-serif; padding:5px;">Copyright SFHL. All Rights Reserved. </td></tr></table>
			</div>
		{% endblock %}
	</div>
</body>
</html>