{% extends "master.html" %}

{% block extCSS %}
<style type="text/css">

</style>
{% endblock %}

{% block extJS %}
<script src="{{url_for('static', filename='js/customer/order_common.js')}}" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[	
	var index = 1;
	
	var header_have_update = 0;
	
	$(document).ready(function(){
		$("input,select,remark",'.order_add_div_body').change(function(){
			header_have_update = 1;
		});
	});
	
	
	function toreturn(){
		if(header_have_update){
			return redirect_alert("确认不保存而离开这个页面吗？","{{url_for('.view')}}");
		}else{
			redirect("{{url_for('.view')}}");
		}
	}	
//]]>
</script>
<script src="{{url_for('static', filename='js/customer/order_add.js')}}" type="text/javascript"></script>

{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toreturn();"/></li>
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
        <li style="padding:0px; margin:0px 55px 0px 0px; float:right"><a href="{{url_for('bpAuth.logout')}}"><img src="/static/images/system/order_manage_22.jpg" width="56" height="29" /></a></li>
    </ul>
</div>
{% endblock %}

{% block content %}


<form action="{{url_for('.view', action = 'save_new')}}" method="post">
<div class="order_add_div">
  <div class="order_add_div_header">{{_('Now Order')}}</div>
    <div class="order_add_div_body">
  <ul>
    	<li style="width:180px;"><span><sup class="warn">*</sup>&nbsp;{{_('Source Station')}}</span>
    	  <input name="source_station" id="source_station" type="text" style="width:100px" class="must_input"/>
    	</li>
    	 <li style="width:180px;"><span><sup class="warn">*</sup>&nbsp;单号</span>
    	    <input name="ref_no" id="ref_no" type="text" class="must_input" style="width:100px"/>
  	    </li>
    	  <li style="width:180px;"><span><sup class="warn">*</sup>&nbsp;{{_('Destination Station')}}</span>
    	    <input name="destination_station" id="destination_station" type="text" style="width:100px" class="must_input"/>
   	      </li>
    	  <li style="width:280px;"><span>{{_('Create Time')}}</span>{{current}}</li>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Source Company')}}</span>
    	      <select name="source_company_id" id="source_company_id" style="width:360px" class="must_input">
    	          <option></option>
    	          {% for c in customers %}
    	              <option value="{{c.id}}">{{c}}</option>
    	          {% endfor %}
    	  	  </select>
    	  </li>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Destination Company')}}</span>
    	  	<select name="destination_company_id" id="destination_company_id"style="width:360px" class="must_input">
    	        
    	    </select>
    	  </li>
    	  <br style="clear:both"/>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Source Contact')}}</span>
    	    <input name="source_contact" id="source_contact" type="text" style="width:360px" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Destination Contact')}}</span>
    	    <input name="destination_contact" id="destination_contact" type="text" style="width:360px" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Source Address')}}</span>
    	    <input name="source_address" id="source_address" type="text" style="width:360px"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Destination Address')}}</span>
    	    <input name="destination_address" id="destination_address" type="text" style="width:360px"/>
    	  </li>
    	  <li style="width:227px;"><span>{{_('Source Phone')}}</span>
    	    <input name="source_tel" id="source_tel" type="text" style="width:140px"/>
  	    </li>
    	  <li style="width:226px;"><span>{{_('Source Mobile')}}</span>
    	    <input name="source_mobile" id="source_mobile" type="text" style="width:140px"/>
  	    </li>
        <li style="width:227px;"><span>{{_('Destination Phone')}}</span>
    	    <input name="destination_tel" id="destination_tel" type="text" style="width:140px"/>
  	    </li>
    	  <li style="width:226px;"><span>{{_('Destination Mobile')}}</span>
    	    <input name="destination_mobile" id="destination_mobile" type="text" style="width:140px"/>
  	    </li>
    	  <li style="width:226px;"><span>{{_('Pickup Type')}}</span>
    	  	<select name="pickup_type_id" id="pickup_type_id">
    	  		{% for p in pickup_type %}
    	  			<option value="{{p.id}}">{{p}}</option>
    	  		{% endfor %}
    	    </select>
  	    </li>
    	  <li style="width:227px;"><span>{{_('Package Type')}}</span>
    	    <select name="pickup_type_id" id="pickup_type_id">
    	  		{% for p in pack_type%}
    	  			<option value="{{p.id}}">{{p}}</option>
    	  		{% endfor %}
    	    </select>
  	    </li>
  	    <li style="width:226px;"><span>{{_('Expect Time')}}</span>
    	    <input type="text" style="width:140px" id="expect_time" name="expect_time" class="datepicker"/>
  	    </li>
  	    <li style="width:226px;"><span>{{_('Actual Time')}}</span>
    	    <input type="text" style="width:140px" id="actual_time" name="actual_time" class="datepicker"/>
  	    </li>
    	  <li style="width:925px;"><span>{{_('Remark')}}</span>
    	  	<textarea name="remark" id="remark" style="width:840px">深圳深福合力物流 服务热线：400-888-0900</textarea>
    	    
  	    </li>
      </ul><table width="100%" border="0" cellspacing="0" cellpadding="0" style="float:left;">
  <tr>
    <td width="9%" align="center">{{_('Qty')}}</td>
    <td width="9%" align="center">{{_('Qty Ratio')}}</td>
    <td width="9%" align="center">{{_('Weight')}}</td>
    <td width="9%" align="center">{{_('Weight Ratio')}}</td>
    <td width="9%" align="center">{{_('Vol')}}</td>
    <td width="9%" align="center">{{_('Vol Ratio')}}</td>
    <td width="9%" align="center"><sup class="warn">*</sup>&nbsp;{{_('Amount')}}</td>
    <td width="9%" align="center">{{_('Payment')}}</td>
    </tr>
  <tr>
    <td height="30" align="center"><span style="width:180px;">
      <input name="qty" id="qty" type="text" class="order_add_div_body_input numeric compute" style="width:70px"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="qty_ratio" id="qty_ratio" type="text" class="order_add_div_body_input numeric compute" style="width:70px" value="{{ratios.get('QTY',0)}}"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="weight" id="weight" type="text" class="order_add_div_body_input numeric compute" style="width:70px"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="weight_ratio" id="weight_ratio" type="text" class="order_add_div_body_input numeric compute" style="width:70px" value="{{ratios.get('WEIGHT',0)}}"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="vol" id="vol" type="text" class="order_add_div_body_input numeric compute" style="width:70px"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="vol_ratio" id="vol_ratio" type="text" class="order_add_div_body_input numeric compute" style="width:70px" value="{{ratios.get('VOL',0)}}"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="amount" id="amount" type="text" class="order_add_div_body_input numeric must_input" style="width:70px"/>
    </span></td>
    <td align="center">
    	<span style="width:180px;">
	      <select name="payment_id" id="payment_id" class="order_add_div_body_input" style="width:70px">
				<option value=''></option>
				{% for p in payment %}
						<option value="{{p.id}}">{{p}}</option>
				{% endfor %}
			</select>
    	</span>
    </td>
    </tr>
</table>


<div style="clear:both"></div>    

<div class="order_add_info_tab_div">
	<div class="order_add_info_tab_header">
		<ul>
			<li><a href="#tabs-1">{{_('Item Details')}}</a></li>
		</ul>
	</div>
	  <div class="order_add_info_tab_body" id="tabs-1">
		<div id="item_details">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
			  </tr>
				<tr>
					<td valign="top" width="70px" align="center"><sup class="warn">*</sup>&nbsp;{{_('Item Name')}}</td><td valign="top">
						<select name="item_id" id="item_id"  class="must_input" style="width:140px;">
							<option value=""></option>
							{% for k in items %}
								<option value="{{k.id}}">{{k}}</option>
							{% endfor %}
						</select>	
					</td>
					<td valign="top" width="70px" align="center">{{_('Qty')}}</td><td valign="top"><input type="text" name="item_qty" id="item_qty" value="" class="order_add_div_body_input numeric" style="width:80px;"></td>
					<td valign="top" width="70px" align="center">{{_('Weight')}}</td><td valign="top"><input type="text" name="item_weight" id="item_weight" value="" class="order_add_div_body_input numeric" style="width:80px;"></td>
					<td valign="top" width="70px" align="center">{{_('Vol')}}</td><td valign="top"><input type="text" name="item_vol" id="item_vol" value="" class="order_add_div_body_input numeric" style="width:80px;"></td>
				    <td valign="top" width="70px" align="center">{{_('Remark')}}</td><td valign="top"><textarea name="item_remark" id="item_remark"></textarea></td>
				</tr>
			</table>
		  <p><input type="button" value="{{_('Add')}}" onclick="add_item()"/></p>
		</div>
		<br />
		<table>
			<thead>
				<tr class="field_head">
					<th style="width:150px">{{_('Item Name')}}</th>
					<th style="width:80px">{{_('Qty')}}</th>
					<th style="width:80px">{{_('Weight')}}</th>
					<th style="width:80px">{{_('Vol')}}</th>
					<th style="width:200px">{{_('Remark')}}</th>
					<th style="width:150px">&nbsp;</th>
				</tr>
			</thead>
			<tbody id="item_list">
			</tbody>
		</table>
	  <div style="clear:both"></div>
	</div>
</div>



</form>

{% endblock %}