{% extends "master.html" %}

{% block extCSS %}
<style type="text/css">

</style>
{% endblock %}

{% block extJS %}
<script src="{{url_for('static', filename='js/customer/order_common.js')}}" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[	
	var index = 1;
	
	var header_have_update = 0;
	
	$(document).ready(function(){
		$("input,select,remark",'.order_add_div_body').change(function(){
			header_have_update = 1;
		});
	});
	
	
	function toreturn(){
		if(header_have_update){
			return redirect_alert("{{MSG_LEAVE_WITHOUT_SAVING}}","{{request.referrer}}");
		}else{
			redirect('{{request.referrer}}');
		}
	}	
//]]>
</script>
<script src="{{url_for('static', filename='js/customer/order_add.js')}}" type="text/javascript"></script>

{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toreturn();"/></li>
		{% if 'CREATE_ORDER' is get_permission%}        
        <li><input type="image" src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="tosave()"/></li>
    	{% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}


<form action="{{url_for('.view', action = 'save_new')}}" method="post">
<div class="order_add_div">
  <div class="order_add_div_header">{{_('Now Order')}}</div>
    <div class="order_add_div_body">
  <ul>
    	<li style="width:450px;"><span><sup class="warn">*</sup>&nbsp;{{_('Source Station')}}</span>
    	  {{mymacros.select(id='source_province_id',list=MASTER_ALL('Province'),value=None,class="must_input",style="width:150px")}}
    	  <select name="source_city_id" id="source_city_id" style="width:150px"></select>
    	</li>
    	  <li style="width:450px;"><span><sup class="warn">*</sup>&nbsp;{{_('Destination Station')}}</span>
    	  {{mymacros.select(id='destination_province_id',list=MASTER_ALL('Province'),value=None,class="must_input",style="width:150px")}}
    	  <select name="destination_city_id" id="destination_city_id" style="width:150px"></select>
   	      </li>
    	 <li style="width:180px;"><span><sup class="warn">*</sup>&nbsp;单号</span>
    	    <input name="ref_no" id="ref_no" type="text" class="must_input" style="width:100px"/>
  	    </li>
  	    <li style="width:180px;"><span><sup class="warn">*</sup>&nbsp;票据前缀</span>
    	    {{mymacros.select(id='note_id',list=MASTER_ALL('Note'),value=None,class="must_input",style="width:100px")}}
  	    </li>
  	    <li style="width:180px;"><span><sup class="warn">*</sup>&nbsp;票据单号</span>
    	    <input name="note_no" id="note_no" type="text" class="must_input" style="width:100px"/>
  	    </li>
  	    <li style="width:350px;"><span>&nbsp;系统编号</span>
    	    <input name="no" id="no" type="text" class="numeric" style="width:150px"/>
  	    </li>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Source Company')}}</span>
    	  	  {{mymacros.select(id='source_company_id',list=MASTER_ALL('Customer'),value=None,class="must_input",style="width:360px")}}
    	  </li>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Destination Company')}}</span>
    	  	<select name="destination_company_id" id="destination_company_id"style="width:360px" class="must_input">
    	        
    	    </select>
    	  </li>
    	  <br style="clear:both"/>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Source Contact')}}</span>
    	    <input name="source_contact" id="source_contact" type="text" style="width:360px" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span><sup class="warn">*</sup>&nbsp;{{_('Destination Contact')}}</span>
    	    <input name="destination_contact" id="destination_contact" type="text" style="width:360px" class="must_input"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Source Address')}}</span>
    	    <input name="source_address" id="source_address" type="text" style="width:360px"/>
    	  </li>
    	  <li style="width:459px;"><span>{{_('Destination Address')}}</span>
    	    <input name="destination_address" id="destination_address" type="text" style="width:360px"/>
    	  </li>
    	  <li style="width:187px;"><span>{{_('Source Phone')}}</span>
    	    <input name="source_tel" id="source_tel" type="text" style="width:90px"/>
  	    </li>
    	  <li style="width:266px;"><span>{{_('Source Mobile')}}</span>
    	    <input name="source_mobile" id="source_mobile" type="text" style="width:80px" class="numeric"/>
    	    <input type="checkbox" name="source_sms" value="1" style="width:20px"/>短信通知
  	    </li>
        <li style="width:187px;"><span>{{_('Destination Phone')}}</span>
    	    <input name="destination_tel" id="destination_tel" type="text" style="width:90px"/>
  	    </li>
    	  <li style="width:266px;"><span>{{_('Destination Mobile')}}</span>
    	    <input name="destination_mobile" id="destination_mobile" type="text" style="width:80px" class="numeric"/>
    	    <input type="checkbox" name="destination_sms" value="1" style="width:20px"/>短信通知
  	    </li>
    	  <li style="width:226px;"><span>{{_('Pickup Type')}}</span>
    	    {{mymacros.select(id='pickup_type_id',list=MASTER_ALL('PickupType'),value=None,class="",style="")}}
  	    </li>
    	  <li style="width:227px;"><span>{{_('Package Type')}}</span>
    	    {{mymacros.select(id='pack_type_id',list=MASTER_ALL('PackType'),value=None,class="",style="")}}
  	    </li>
  	    <li style="width:226px;"><span>{{_('Expect Time')}}</span>
    	    <input type="text" style="width:140px" id="expect_time" name="expect_time" class="datepicker"/>
  	    </li>
  	    <li style="width:226px;"><span>{{_('Actual Time')}}</span>
    	    <input type="text" style="width:140px" id="actual_time" name="actual_time" class="datepicker"/>
  	    </li>
    	  <li style="width:925px;"><span>{{_('Remark')}}</span>
    	  	<textarea name="remark" id="remark" style="width:840px">深圳深福合力物流 服务热线：400-888-0900</textarea>
    	    
  	    </li>
      </ul><table width="100%" border="0" cellspacing="0" cellpadding="0" style="float:left;">
  <tr>
    <td width="9%" align="center">{{_('Qty')}}</td>
    <td width="9%" align="center">{{_('Qty Ratio')}}</td>
    <td width="9%" align="center">{{_('Weight')}}</td>
    <td width="9%" align="center">{{_('Weight Ratio')}}</td>
    <td width="9%" align="center">{{_('Vol')}}</td>
    <td width="9%" align="center">{{_('Vol Ratio')}}</td>
    <td width="9%" align="center"><sup class="warn">*</sup>&nbsp;{{_('Amount')}}</td>
    <td width="9%" align="center">{{_('Payment')}}</td>
  </tr>
  <tr>
    <td height="30" align="center"><span style="width:180px;">
      <input name="qty" id="qty" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="qty_ratio" id="qty_ratio" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="{{ratios.get('QTY',0)}}"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="weight" id="weight" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="weight_ratio" id="weight_ratio" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="{{ratios.get('WEIGHT',0)}}"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="vol" id="vol" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="vol_ratio" id="vol_ratio" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="{{ratios.get('VOL',0)}}"/>
    </span></td>
    <td align="center"><span style="width:180px;">
      <input name="amount" id="amount" type="text" class="order_add_div_body_input numeric must_input number_input_right" style="width:70px"/>
    </span></td>
    <td align="center">
    	<span style="width:180px;">
			{{mymacros.select(id='payment_id',list=MASTER_ALL('Payment'),value=None,class="order_add_div_body_input",style="width:70px")}}
    	</span>
    </td>
    </tr>
    <tr>
	    <td width="9%" align="center">送货费用</td>
	    <td width="9%" align="center">上门接货费用</td>
	    <td width="9%" align="center">包装费用</td>
	    <td width="9%" align="center">保险费用</td>
	    <td width="9%" align="center">其它费用</td>
	</tr>
	<tr>
		<td align="center"><span style="width:180px;">
	      <input name="sendout_charge" id="sendout_charge" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="0"/>
	    </span></td>
	    <td align="center"><span style="width:180px;">
	      <input name="receive_charge" id="receive_charge" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="0"/>
	    </span></td>
	    <td align="center"><span style="width:180px;">
	      <input name="package_charge" id="package_charge" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="0"/>
	    </span></td>
	    <td align="center"><span style="width:180px;">
	      <input name="insurance_charge" id="insurance_charge" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="0"/>
	    </span></td>
	    <td align="center"><span style="width:180px;">
	      <input name="other_charge" id="other_charge" type="text" class="order_add_div_body_input numeric compute number_input_right" style="width:70px" value="0"/>
	    </span></td>
	</tr>
</table>


<div style="clear:both"></div>    

<div class="order_add_info_tab_div">
	<div class="order_add_info_tab_header">
		<ul>
			<li><a href="#tabs-1">{{_('Item Details')}}</a></li>
		</ul>
	</div>
	  <div class="order_add_info_tab_body" id="tabs-1">
		<div id="item_details">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
				  <td valign="top" align="center">&nbsp;</td>
				  <td valign="top">&nbsp;</td>
			  </tr>
				<tr>
					<td valign="top" width="70px" align="center"><sup class="warn">*</sup>&nbsp;{{_('Item Name')}}</td><td valign="top">
						<select name="item_id" id="item_id"  class="must_input" style="width:140px;">
							<option value=""></option>
							{% for k in MASTER_ALL('Item') %}
								<option value="{{k.id}}">{{k}}</option>
							{% endfor %}
						</select>	
					</td>
					<td valign="top" width="70px" align="center">{{_('Qty')}}</td><td valign="top"><input type="text" name="item_qty" id="item_qty" value="" class="order_add_div_body_input numeric" style="width:80px;"></td>
					<td valign="top" width="70px" align="center">{{_('Weight')}}</td><td valign="top"><input type="text" name="item_weight" id="item_weight" value="" class="order_add_div_body_input numeric" style="width:80px;"></td>
					<td valign="top" width="70px" align="center">{{_('Vol')}}</td><td valign="top"><input type="text" name="item_vol" id="item_vol" value="" class="order_add_div_body_input numeric" style="width:80px;"></td>
				    <td valign="top" width="70px" align="center">{{_('Remark')}}</td><td valign="top"><textarea name="item_remark" id="item_remark"></textarea></td>
				</tr>
			</table>
		  <p><input type="button" value="{{_('Add')}}" onclick="add_item()"/></p>
		</div>
		<br />
		<table>
			<thead>
				<tr class="field_head">
					<th style="width:150px">{{_('Item Name')}}</th>
					<th style="width:80px">{{_('Qty')}}</th>
					<th style="width:80px">{{_('Weight')}}</th>
					<th style="width:80px">{{_('Vol')}}</th>
					<th style="width:200px">{{_('Remark')}}</th>
					<th style="width:150px">&nbsp;</th>
				</tr>
			</thead>
			<tbody id="item_list">
			</tbody>
		</table>
	  <div style="clear:both"></div>
	</div>
</div>



</form>

{% endblock %}