{% extends "master.html" %}

{% block extCSS %}

{% endblock %}


{% block extJS %}

<script language="JavaScript" type="text/javascript">
//<![CDATA[
	$(document).ready(function(){

	});
	
	
	function toexp(){
		if($("input[name='order_ids']:checked").length < 1){
			$.modaldialog.error('请先选择订单然后再导出！');
			return false;
		}
	
		$("#records").attr('action',"{{ url_for('.view',action='export') }}");
		$("#records").submit();
	}
	
	function allselect(obj){
		var t = $(obj);
		if(t.attr('checked')){
			$("input[type='checkbox'][name='order_ids']").attr('checked','checked');
		}else{
		    $("input[type='checkbox'][name='order_ids']").removeAttr('checked');
		}
	}
//]]>
</script>

{% endblock %}


{% block inner_menu %}
<div class="inner_menu">
	<ul>
        <li><a href="{{url_for('.view',action='add')}}"><img src="/static/images/system/order_manage_31.jpg" width="77" height="21" id="Image2" onmouseover="MM_swapImage('Image2','','/static/images/system/order_manage_h_31.jpg',1)" onmouseout="MM_swapImgRestore()" /></a></li>
        <li><img src="/static/images/system/order_manage_41.jpg" width="101" height="21" id="Image7" onmouseover="MM_swapImage('Image7','','/static/images/system/order_manage_h_41.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="return toexp();"/></li>
        <!-- 
        <li><img src="/static/images/system/order_manage_37.jpg" width="77" height="21" id="Image5" onmouseover="MM_swapImage('Image5','','/static/images/system/order_manage_h_37.jpg',1)" onmouseout="MM_swapImgRestore()" onclick="toprint();"/></li>
    	<li><img src="/static/images/system/order_manage_25.jpg" width="71" height="21" id="Image1" onmouseover="MM_swapImage('Image1','','/static/images/system/order_manage_h_25.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        <li><img src="/static/images/system/order_manage_35.jpg" width="94" height="21" id="Image4" onmouseover="MM_swapImage('Image4','','/static/images/system/order_manage_h_35.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        <li><img src="/static/images/system/order_manage_33.jpg" width="77" height="21" id="Image3" onmouseover="MM_swapImage('Image3','','/static/images/system/order_manage_h_33.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        <li><img src="/static/images/system/order_manage_39.jpg" width="101" height="21" id="Image6" onmouseover="MM_swapImage('Image6','','/static/images/system/order_manage_h_39.jpg',1)" onmouseout="MM_swapImgRestore()" /></li>
        -->
        <li style="padding:0px; margin:0px 55px 0px 0px; float:right"><a href="{{url_for('bpAuth.logout')}}"><img src="/static/images/system/order_manage_22.jpg" width="56" height="29" /></a></li>
    </ul>
</div>
{% endblock %}


{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td class="title_fonts_display">&middot; 订单管理</td></tr>
</table>
<div class="search_div">
	<div class="search_div_header">订单搜索</div>
    <div class="search_div_body">
    	<form action="{{url_for('.view')}}" method="post">
    	<ul>
          <li style="width:100%; border-right:#E2FEFE 1px solid;"><span>起始日期</span>
        	  <input type="text" class="datepicker" name="create_time_from" value="{{values.get('create_time_from','')|f}}"/>&nbsp;&nbsp;-&nbsp;&nbsp;<input type="text" class="datepicker" name="create_time_to" value="{{values.get('create_time_to','')|f}}"/>
          </li>
          <li><span>{{_('Order Number')}}</span><input type="text" name="ref_no" value="{{values.get('ref_no','')|f}}"/></li>
          <li><span>{{_('Source Station')}}</span><input type="text" name="source_station" value="{{values.get('source_station','')|f}}"/></li>
          <li><span>{{_('Source Company')}}</span><input type="text" name="source_company" value="{{values.get('source_company','')|f}}"/></li>
          <li><span>{{_('Destination Station')}}</span><input type="text" name="destination_station" value="{{values.get('destination_station','')|f}}"/></li>
          <li><span>{{_('Destination Company')}}</span><input type="text" name="destination_company" value="{{values.get('destination_company','')|f}}"/></li>
        </ul>
        <div class="button_div"><input type="submit" value="{{_('Search')}}"/></div>
    	</form>
        <div style="clear:both"></div>
    </div>
</div>

<div class="point_div"><img src="/static/images/system/order_manage_54.jpg" width="22" height="28" /><span>{{_('Input the conditions and search.')}}</span></div>




<form method="post" action="" id="records">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr class="field_head">
    <th width="20" align="center"><input type="checkbox" onclick="allselect(this);"/></th>
    <td align="center">{{_('Order Number')}}</td>
    <td align="center">{{_('Source Station')}}</td>
    <td align="center">{{_('Source Company')}}</td>
    <td align="center">{{_('Destination Station')}}</td>
    <td align="center">{{_('Destination Company')}}</td>
    <td align="center">{{_('Qty')}}</td>
    <td align="center">{{_('Weight')}}</td>
    <td align="center">{{_('Amount')}}</td>
    <td align="center">{{_('Create Time')}}</td>
    <td align="center">{{_('Creator')}}</td>
    <td align="center">{{_('Last Updator')}}</td>
    <td align="center">{{_('Status')}}</td>
  </tr>
  
  {% for r in result %}
		  <tr class="data_table_tr {{ loop.cycle('data_table_tr_odd', 'data_table_tr_even') }}">
		    <th><input type="checkbox" name="order_ids" value="{{r.id}}" /></th>
		    <td><a href="{{url_for('.view', action = 'revise',id=r.id)}}">{{r.ref_no|f('没有订单号')}}</a></td>
			<td>{{r.source_station|f}}</td>
			<td>{{r.source_company|f}}</td>
			<td>{{r.destination_station|f}}</td>
			<td>{{r.destination_company|f}}</td>
			<td>{{r.qty|f}}</td>
			<td>{{r.weight|f}}</td>
			<td>{{r.amount|ft}}</td>
			<td>{{r.create_time|ft}}</td>
			<td>{{r.create_by|f}}</td>
			<td>{{r.update_by|f}}</td>
			<td>{{r.status|showStatus}}</td>
		  </tr>
  {% endfor %}
      <tr class="data_table_tr">
      	<th></th>
      	<td colspan="5">&nbsp;</td>
      	<td>{{total_qty}}</td>
      	<td>{{total_weight}}</td>
      	<td>{{total_amount}}</td>
      	<td colspan="100">&nbsp;</td>
      </tr>
</table>

</form>


{% endblock %}