{% extends "master.html" %}

{% block extJS %}
<script src="{{url_for('static', filename='js/customer/order.js')}}" type="text/javascript"></script>



{% endblock %}

{% block content %}
	<div style="background-color: #fff;padding: 10px;">
		<form action="{{url_for('.view', action = 'save_new')}}" method="post">
		<p><input type="submit" value="{{BTN_SAVE}}"/></p>
			<table>
				<tr>
					<td>{{_('Source Station')}}</td>
					<td><input type="text" name="source_station" id="source_station" value="{{header.}}" class="field"/></td>
					<td>&nbsp;</td>
					<td>{{_('No#')}}</td>
					<td><input type="text" name="no" id="no" value="{{header.}}" class="field"/></td>
					<td>&nbsp;</td>
					<td>{{_('Creator')}}</td>
					<td>{{header.}}</td>
				</tr>
				<tr>
					<td>{{_('Destination Station')}}</td>
					<td><input type="text" name="destination_station" id="destination_station" value="{{header.}}" class="field"/></td>
					<td>&nbsp;</td>
					<td>{{Date}}</td>
					<td><input type="text" name="order_time" id="order_time" value="{{header.}}" class="field"/></td>
					<td>&nbsp;</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<table>
				<tr>
					<td valign="top">
						<table>
							<tr><td>{{_('Source Company')}}</td><td><input type="text" name="source_company" id="source_company" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Contact')}}</td><td><input type="text" name="source_contact" id="source_contact" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Address')}}</td><td><input type="text" name="source_address" id="source_address" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Phone')}}</td><td><input type="text" name="source_tel" id="source_tel" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Mobile')}}</td><td><input type="text" name="source_mobile" id="source_mobile" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Item')}}</td><td><input type="text" name="item" id="item" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Expect Time')}}</td><td><input type="text" name="expect_time" id="expect_time" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Remark')}}</td><td><textarea name="remark" id="remark"class="field" style="width: 300px">{{header.}}</textarea></td></tr>
						</table>
					</td>
					<td>&nbsp;</td>
					<td valign="top">
						<table>
						    <tr><td>{{_('Destination Company')}}</td><td><input type="text" name="destination_company" id="destination_company" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Contact')}}</td><td><input type="text" name="destination_contact" id="destination_contact" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Address')}}</td><td><input type="text" name="destination_address" id="destination_address" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Phone')}}</td><td><input type="text" name="destination_tel" id="destination_tel" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Mobile')}}</td><td><input type="text" name="destination_mobile" id="destination_mobile" value="{{header.}}" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Payment')}}</td>
								<td>
									<select name="payment_id" id="payment_id">
										{% for p in payment %}
											{% if p.id == header.payment_id %}
												<option value="{{plid}}" selected="selected">{{p}}</optino>
											{% else %}
												<option value="{{plid}}">{{p}}</optino>
											{% endif %}
										{% endfor %}
									</select>
								</td>
							</tr>
						</table>
			
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>件数</td>
					<td>件数费率</td>
					<td>体积</td>
					<td>体积费率</td>
					<td>重量</td>
					<td>重量费率</td>
					<td>费用</td>
				</tr>
				<tr>
					<td><input type="text" name="qty" id="qty" value="{{header.}}"/></td>
					<td><input type="text" name="qty_ratio" id="qty_ratio" value="{{header.}}"/></td>
					<td><input type="text" name="vol" id="vol" value="{{header.}}"/></td>
					<td><input type="text" name="vol_ratio" id="vol_ratio" value="{{header.}}"/></td>
					<td><input type="text" name="weight" id="weight" value="{{header.}}"/></td>
					<td><input type="text" name="weight_ratio" id="weight_ratio" value="{{header.}}"/></td>
					<td><input type="text" name="amount" id="amount" value="{{header.}}"/></td>
				</tr>
			</table>
			
			
			
		</form>
	</div>
	<!-- item info -->
	<div>
		<div>
			<table>
				<tr><td>货物名称</td><td><input type="text" name="name" value=""></td></tr>
				<tr><td>件数</td><td><input type="text" name="qty" value=""></td></tr>
				<tr><td>体积</td><td><input type="text" name="vol" value=""></td></tr>
				<tr><td>重量</td><td><input type="text" name="weight" value=""></td></tr>
				<tr><td>备注</td><td><textarea name="remark"></textarea></td></tr>
			</table>
			<p><input type="button" value="保存" onclick="save_item()"/></p>
		</div>
		<table>
			<thead>
				<tr>
					<td>货物名称</td><td>件数</td><td>体积</td><td>重量</td><td>备注</td>
				</tr>
			</thead>
			<tbody>
				{% for l in header.item_details %}
					<tr>
						<td>{{l.item}}</td><td>{{l.qty}}</td><td>{{l.vol}}</td><td>{{l.weight}}</td><td>{{l.remark}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<!-- load info -->
	<div>
		<div>
			<table>
				<tr>
					<td>收货联系人</td><td><input type="text" name="" value=""/></td>
					<td>联系电话</td><td><input type="text" name="" value=""/></td>
					<td>备注</td><td><textarea name="remark"></textarea></td>
				</tr>
			</table>
			<p><input type="button" value="保存" onclick="save_load()"/></p>
		</div>
	</div>
	
	<!-- warehouse info -->
	<div>
	
	</div>
	
	<!-- transit info -->
	<div>
		<div>
			<table>
				<tr>
					<td>时间</td><td><input type="text" name="action_time" value=""/></td>
					<td>地点</td><td><input type="text" name="action_location" value=""/></td>
					<td>备注</td><td><textarea name="remark"></textarea></td>
				</tr>
			</table>
			<p><input type="button" value="保存"/></p>
		</div>
		<table>
			<thead>
				<tr>
					<td>时间</td><td>地点</td><td>备注</td>
				</tr>
				{% for t in header.transit_details %}
					<tr>
						<td>{{t.action_time}}</td>
						<td>{{t.action_location}}</td>
						<td>{{t.remark}}</td>
					</tr>
				{% endfor %}
			<thead>
		</table>
	</div>
	
	<!-- pickup info -->
	<div>
		<div>
			<table>
				<tr>
					<td>时间</td><td><input type="text" name="action_time" value=""/></td>
					<td>提货联系人</td><td><input type="text" name="contact" value=""/></td>
					<td>联系人电话</td><td><input type="text" name="tel" value=""/></td>
					<td>提货数量</td><td><input type="text" name="qty" value=""/></td>
					<td>备注</td><td><textarea name="remark"></textarea></td>
				</tr>
			</table>
			<p><input type="button" value="保存"/></p>
		</div>
		<table>
			<thead>
				<tr>
					<td>时间</td><td>提货联系人</td><td>联系人电话</td><td>提货数量</td><td>备注</td>
				</tr>
				{% for t in header.pickup_details %}
					<tr>
						<td>{{t.action_time}}</td>
						<td>{{t.contact}}</td>
						<td>{{t.tel}}</td>
						<td>{{t.qty}}</td>
						<td>{{t.remark}}</td>
					</tr>
				{% endfor %}
			<thead>
		</table>
	</div>
	
	<!-- fin info -->
	<div>
	
	</div>
	
	<!-- history info -->
	<div>
	
	</div>
{% endblock %}