{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<div style="background-color: #fff;padding: 10px;">
			<table>
				<tr>
					<td>{{_('Source Station')}}</td>
					<td><input type="text" name="source_station" id="source_station" value="" class="field"/></td>
					<td>&nbsp;</td>
					<td>{{_('No#')}}</td>
					<td><input type="text" name="no" id="no" value="" class="field"/></td>
					<td>&nbsp;</td>
					<td>{{_('Creator')}}</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>{{_('Destination Station')}}</td>
					<td><input type="text" name="destination_station" id="destination_station" value="" class="field"/></td>
					<td>&nbsp;</td>
					<td>{{Date}}</td>
					<td><input type="text" name="order_time" id="order_time" value="" class="field"/></td>
					<td>&nbsp;</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<table>
				<tr>
					<td valign="top">
						<table>
							<tr><td>{{_('Source Contact')}}</td><td><input type="text" name="source_contact" id="source_contact" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Address')}}</td><td><input type="text" name="source_address" id="source_address" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Phone')}}</td><td><input type="text" name="source_tel" id="source_tel" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Source Mobile')}}</td><td><input type="text" name="source_mobile" id="source_mobile" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Item')}}</td><td><input type="text" name="item" id="item" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Expect Time')}}</td><td><input type="text" name="expect_time" id="expect_time" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Remark')}}</td><td><textarea name="remark" id="remark" value="" class="field" style="width: 300px"></textarea></td></tr>
						</table>
					</td>
					<td>&nbsp;</td>
					<td valign="top">
						<table>
							<tr><td>{{_('Destination Contact')}}</td><td><input type="text" name="destination_contact" id="destination_contact" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Address')}}</td><td><input type="text" name="destination_address" id="destination_address" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Phone')}}</td><td><input type="text" name="destination_tel" id="destination_tel" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Destination Mobile')}}</td><td><input type="text" name="destination_mobile" id="destination_mobile" value="" class="field" style="width: 300px"/></td></tr>
							<tr><td>{{_('Payment')}}</td>
								<td>
									<select name="payment_id" id="payment_id">
										{% for p in payment %}
											<option value="{{plid}}">{{p}}</optino>
										{% endfor %}
									</select>
								</td>
							</tr>
						</table>
			
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>件数</td>
					<td>件数费率</td>
					<td>体积</td>
					<td>体积费率</td>
					<td>重量</td>
					<td>重量费率</td>
					<td>费用</td>
				</tr>
				<tr>
					<td><input type="text" name="qty" id="qty" value=""/></td>
					<td><input type="text" name="qty_ratio" id="qty_ratio" value="{{ratios.get('QTY',0)}}"/></td>
					<td><input type="text" name="vol" id="vol" value=""/></td>
					<td><input type="text" name="vol_ratio" id="vol_ratio" value="{{ratios.get('VOL',0)}}"/></td>
					<td><input type="text" name="weight" id="weight" value=""/></td>
					<td><input type="text" name="weight_ratio" id="weight_ratio" value="{{ratios.get('WEIGHT',0)}}"/></td>
					<td><input type="text" name="amount" id="amount" value=""/></td>
				</tr>
			</table>
	</div>
{% endblock %}