{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<form action="{{url_for('.view', action = 'save_update')}}" method="post">
		<input type="hidden" name="id" value="{{values['id']}}"/>
		<input type="submit" value="{{_('Save')}}"/> 
		<input type="reset" value="{{_('Reset')}}"/>
		<input type="button" value="{{_('Cancel')}}" onclick="location.href='{{url_for('.view', action = 'index')}}'"/>
		<input type="button" value="{{_('Delete')}}" onclick="location.href='{{url_for('.view', action = 'cancel',id=values['id'])}}'">
		
		
		<p>{{_('Order Information')}}</p>
		<table border="1" cellpadding="3" cellspacing="3">
			<tr><td>{{_('Order No')}}</td><td>{{values.get('no','')}}</td></tr>
			<tr><td>{{_('Customer')}}</td><td>{{values.get('customer','')}}</td></tr>
			<tr><td>{{_('Address')}}</td><td>{{values.get('source_address','')}}</td></tr>
			<tr><td>{{_('Phone')}}</td><td>{{values.get('source_tel','')}}</td></tr>
			<tr><td>{{_('Contact')}}</td><td>{{values.get('source_contact','')}}</td></tr>
			<tr><td>{{_('Remark')}}</td><td>{{values.get('remark','')}}</td></tr>
			<tr><td>{{_('Order Status')}}</td><td>{{values.get('status')|showStatus}}</td></tr>
		</table>
		<br />
		<table border="1" cellpadding="3" cellspacing="3">
			<thead>
				<tr>
					<td>{{_('Item')}}</td>
					<td>{{_('Qty')}}</td>
					<td>{{_('Weight')}}</td>
					<td>{{_('Shipment Type')}}</td>
					<td>{{_('Destination')}}</td>
					<td>{{_('Destination Contact')}}</td>
					<td>{{_('Destination Tel')}}</td>
					<td>{{_('Expect Time')}}</td>
					<td>{{_('Remark')}}</td>
				</tr>
			</thead>
			{% for d in details %}
				<tr>
					<td>{{d.item}}</td>
					<td>{{d.order_qty}} {{d.item_unit}}</td>
					<td>{{d.status|showStatus}}</td>
					<td>{{d.warehouse_qty}} {{d.item_unit}}</td>
				</tr>
			{% endfor %}
		</table>
	</form>
		
{% endblock %}