{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}	
		<ul>
			<li><a href="{{url_for('.view', action = 'add')}}">新建订单</a></li>
			<li><a href="{{url_for('.view', action = 'revise',id=values.get('id',''))}}">修改订单</a></li>
			<li><a href="{{url_for('.view', action = 'cancel',id=values.get('id',''))}}">删除订单</a></li>		
		</ul>

		<p>{{_('Order Information')}}</p>
		{% if values.get('barcode',None) %}
			<p><img src="{{values.get('barcode','').url}}"/></p>
		{% endif %}
		<table border="1" cellpadding="3" cellspacing="3">
			<tr><td>{{_('Order No')}}</td><td>{{values.get('no','')}}</td></tr>
			<tr><td>{{_('Customer')}}</td><td>{{values.get('customer','')}}</td></tr>
			<tr><td>{{_('Address')}}</td><td>{{values.get('source_address','')}}</td></tr>
			<tr><td>{{_('Phone')}}</td><td>{{values.get('source_tel','')}}</td></tr>
			<tr><td>{{_('Contact')}}</td><td>{{values.get('source_contact','')}}</td></tr>
			<tr><td>{{_('Remark')}}</td><td>{{values.get('remark','')}}</td></tr>
			<tr><td>{{_('Order Status')}}</td><td>{{values.get('status')|showStatus}}</td></tr>
		</table>
		<br />
		<table border="1" cellpadding="3" cellspacing="3">
			<thead>
				<tr>
					<td>{{_('Item')}}</td>
					<td>{{_('Qty')}}</td>
					<td>{{_('Weight')}}</td>
					<td>{{_('Shipment Type')}}</td>
					<td>{{_('Destination')}}</td>
					<td>{{_('Destination Contact')}}</td>
					<td>{{_('Destination Tel')}}</td>
					<td>{{_('Expect Time')}}</td>
					<td>{{_('Remark')}}</td>
				</tr>
			</thead>
			{% for d in details %}
				<tr>
					<td>{{d.item}}</td>
					<td>{{d.order_qty}} {{d.unit}}</td>
					<td>{{d.weight}} {{d.weight_unit}}</td>
					<td>{{d.shipment_type}}</td>
					<td>{{d.destination_address|ifFalse}}</td>
					<td>{{d.destination_contact|ifFalse}}</td>
					<td>{{d.destination_tel|ifFalse}}</td>
					<td>{{d.expect_time|ifFalse}}</td>
					<td>{{d.status|showStatus}}</td>
				</tr>
			{% endfor %}
		</table>
	</form>
		
		<br />
		
		{% if values.get('status',None) in [ORDER_NEW[0],] %}
			<p>指派司机收货</p>
			<form action="{{url_for('.view', action = 'do_action',id=values.get('id',''),sc='ASSIGN_PICKER')}}" method="post">
				<table>
					<tr>
						<td>{{_('Receiver')}}</td>
						<td><input type="text" name="receiver"/></td>
					</tr>
					<tr>
						<td>{{_('Receiver Contact')}}</td>
						<td><input type="text" name="receiver_contact"/></td>
					</tr>
					<tr>
						<td>{{_('Remark')}}</td>
						<td><textarea name="receiver_remark"></textarea></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="{{_('Submit')}}"/></td>
					</tr>
				</table>
			</form>
		{% endif %}
		
		
		{% if values.get('status',None) in [ASSIGN_PICKER[0],] %}
			<table>
					<tr>
						<td>{{_('Picker')}}</td>
						<td>{{values.get('picker','')|ifFalse}}</td>
					</tr>
					<tr>
						<td>{{_('Picker Contact')}}</td>
						<td>{{values.get('picker_contact','')|ifFalse}}</td>
					</tr>
					<tr>
						<td>{{_('Remark')}}</td>
						<td>{{values.get('picker_remark','')|ifFalse}}</td>
					</tr>
				</table>
				<br />
			<p>入仓</p>
			<form action="{{url_for('.view', action = 'do_action',id=values.get('id',''),sc='IN_WAREHOUSE')}}" method="post">
				<table>
					<tr>
						<td>{{_('Remark')}}</td>
						<td><textarea name="in_warehouse_remark"></textarea></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="{{_('Submit')}}"/></td>
					</tr>
				</table>
			</form>	
		{% endif %}
{% endblock %}