{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<form action="{{url_for('.view', action = 'save_update')}}" method="post">
		<input type="hidden" name="id" value="{{values['id']}}"/>
		<input type="submit" value="保存"/> 
		<input type="reset" value="重置"/>
		<input type="button" value="取消" onclick="location.href='{{url_for('.view', action = 'index')}}'"/>
		<input type="button" value="作废" onclick="location.href='{{url_for('.view', action = 'cancel',id=values['id'])}}'">
		<input type="button" value="收货开单" onclick="location.href='{{url_for('.view', action = 'received',id=values['id'])}}'">
		
		
		<p>订单信息</p>
		<table>
			<tr><td>订单号</td><td><input type="text" name="no" value="{{values.get('no','')}}"/></td></tr>
			<tr><td>下单公司</td><td><input type="text" name="source_company" value="{{values.get('source_company','')}}"/></td></tr>
			
		</table>
	</form>
{% endblock %}