{% extends "master.html" %}

{% block extJS %}

{% endblock %}

{% block content %}
	<form action="{{url_for('.view',action='warning')}}" method="post">
		<select name="t">		
			{%for tmp in ['',7,10,30]%}
				{%if tmp == t %}
					<option value="{{tmp}}" selected='selected'>{{tmp}}</option>
				{%else%}
					<option value="{{tmp}}">{{tmp}}</option>
				{%endif%}
			{%endfor%}
		</select>
		<input type="submit" value="提交"/>
	</form>

	<table border="1" cellpadding="3" cellspacing="3">
		<thead>
			<tr>
				<td>订单号</td>
				<td>下单公司</td>
				<td>下单时间</td>
				<td>下单人员</td>
				<td>期待到达时间</td>
				<td>状态</td>
			</tr>
			{% for r in result%}
			<tr>
				<td><a href="{{url_for('.view', action = 'revise',id=r.id)}}">{{r.no}}</a></td>
				<td>{{r.customer}}</td>
				<td>{{r.create_time|ft}}</td>
				<td></td>
				<td>{{r.expect_time|ft}}</td>
				<td>{{r.status|showStatus}}</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
	
{% endblock %}